- content_for :title, "Aspirations"

- content_for :go_back_link do
  = link_to organization_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@organization.display_name}

- content_for :header do
  .d-flex.justify-content-between.align-items-center
    %h1.mb-0 
      Aspirations
      - if policy(Aspiration).create?
        = link_to new_organization_aspiration_path(@organization), class: "btn btn-primary" do
          %i.bi.bi-plus
      - else
        .btn.btn-primary.disabled{style: "opacity: 0.6; cursor: not-allowed;"}
          %i.bi.bi-plus
        %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need MAAP management permission to create aspirations"}
- content_for :header_action do
  %button.btn.btn-outline-secondary{"data-bs-toggle" => "modal", "data-bs-target" => "#aspirationsFilterModal", type: "button"}
    %i.bi.bi-funnel.me-2
    Filter & Sort

.row.justify-content-center
  .col-lg-12

    - if @aspirations.any?
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th Name
              %th Department
              %th Description
              %th Sort Order
              %th Actions
          %tbody
            - @aspirations.each do |aspiration|
              %tr
                %td
                  = link_to aspiration.name, organization_aspiration_path(@organization, aspiration), class: "text-decoration-none"
                %td
                  - if aspiration.department.present?
                    = department_hierarchy_display(aspiration.department)
                  - else
                    = aspiration.company.display_name
                %td= aspiration.description.to_s[0..100]
                %td= aspiration.sort_order
                %td
                  .btn-group.btn-group-sm
                    = link_to organization_aspiration_path(@organization, aspiration), class: "btn btn-outline-primary" do
                      %i.bi.bi-eye
                    - if policy(aspiration).update?
                      = link_to edit_organization_aspiration_path(@organization, aspiration), class: "btn btn-outline-secondary" do
                        %i.bi.bi-pencil
                    - else
                      .d-flex.align-items-center.gap-1
                        = link_to edit_organization_aspiration_path(@organization, aspiration), class: "btn btn-outline-secondary", disabled: true do
                          %i.bi.bi-pencil
                        %i.bi.bi-exclamation-triangle.text-warning{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need MAAP management permission to edit aspirations"}
                    - if policy(aspiration).destroy?
                      = link_to organization_aspiration_path(@organization, aspiration), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } do
                        %i.bi.bi-trash
                    - else
                      .d-flex.align-items-center.gap-1
                        = link_to organization_aspiration_path(@organization, aspiration), method: :delete, class: "btn btn-outline-danger", disabled: true, data: { confirm: "Are you sure?" } do
                          %i.bi.bi-trash
                        %i.bi.bi-exclamation-triangle.text-warning{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need MAAP management permission to delete aspirations"}
    - else
      .alert.alert-info
        %h6.mb-2
          %i.bi.bi-info-circle.me-2
          No Aspirations Created
        %p.mb-2 
          Create your first aspiration to get started with organizational values.
          = link_to "Create First Aspiration", new_organization_aspiration_path(@organization), class: "btn btn-primary btn-sm"

/ Modal for Filter & Sort
#aspirationsFilterModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "aspirationsFilterModalLabel", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title#aspirationsFilterModalLabel
          %i.bi.bi-funnel.me-2
          Filter & Sort Aspirations (coming soon)
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        .row
          .col-md-6
            %h6.mb-3
              %i.bi.bi-funnel.me-2
              Filters
            .mb-3
              %label.form-label Department
              %select.form-select
                %option All Departments
                %option Company
                %option Department
                %option Team
            .mb-3
              %label.form-label Status
              %select.form-select
                %option All Statuses
                %option Active
                %option Archived
            .mb-3
              %label.form-label Sort Order Range
              .input-group
                %input.form-control{placeholder: "Min", type: "number"}
                %input.form-control{placeholder: "Max", type: "number"}
          .col-md-6
            %h6.mb-3
              %i.bi.bi-sort-down.me-2
              Sort Options
            .mb-3
              %label.form-label Sort By
              %select.form-select
                %option Sort Order (Default)
                %option Name (A-Z)
                %option Name (Z-A)
                %option Created Date (Newest)
                %option Created Date (Oldest)
                %option Organization
            .mb-3
              %label.form-label View Style
              .form-check
                %input.form-check-input{checked: "checked", type: "radio", name: "viewStyle", value: "table"}
                %label.form-check-label
                  %i.bi.bi-table.me-2
                  Table View
              .form-check
                %input.form-check-input{type: "radio", name: "viewStyle", value: "cards"}
                %label.form-check-label
                  %i.bi.bi-grid.me-2
                  Card View
              .form-check
                %input.form-check-input{type: "radio", name: "viewStyle", value: "list"}
                %label.form-check-label
                  %i.bi.bi-list.me-2
                  List View
            .mb-3
              %label.form-label Spotlight
              %select.form-select
                %option No Spotlight
                %option Featured Aspirations
                %option Recently Created
                %option Most Referenced
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Cancel
        %button.btn.btn-primary.disabled{type: "button"}
          %i.bi.bi-check.me-2
          Apply Filters
