- content_for :go_back_link do
  = link_to organization_aspirations_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Aspirations

%div.container-fluid
  %div.row
    %div.col-12
      %div.d-flex.justify-content-between.align-items-center.mb-4
        %h1 New Aspiration
      
      %div.card
        %div.card-body
          = form_with model: [@organization, @form], url: organization_aspirations_path(@organization), local: true do |form|
            - if @form.errors.any?
              %div.alert.alert-danger
                %h4= "#{pluralize(@form.errors.count, "error")} prohibited this aspiration from being saved:"
                %ul.mb-0
                  - @form.errors.full_messages.each do |message|
                    %li= message
            
            = render 'shared/organization_dropdown', form: form, selected_organization: @organization
            
            %div.mb-3
              = form.label :name, class: 'form-label'
              = form.text_field :name, class: 'form-control'
            
            %div.mb-3
              = form.label :description, class: 'form-label'
              = form.text_area :description, class: 'form-control', rows: 4
            
            %div.mb-3
              = form.label :sort_order, class: 'form-label'
              = form.number_field :sort_order, class: 'form-control', value: @form.sort_order || 999
            
            %div
              = form.submit 'Create Aspiration', class: 'btn btn-primary'
              = link_to 'Cancel', organization_aspirations_path(@organization), class: 'btn btn-outline-secondary ms-2'
