- get_shit_done_label = company_label_for('get_shit_done', 'Get Shit Done')
- content_for :title, "#{get_shit_done_label} - #{@teammate.person.casual_name}"

- content_for :header do
  .d-flex.flex-wrap.align-items-center.gap-2
    %h1.mb-0= get_shit_done_label
    = link_to edit_organization_digest_path(organization, return_url: organization_get_shit_done_path(organization), return_text: "Back to #{get_shit_done_label}"), class: "btn btn-outline-secondary btn-sm" do
      %i.bi.bi-bell.me-1
      Configure digest
  %p.text-muted.mb-0 Items that need your attention

- hidden_categories = []
- if @observable_moments.any?
  = render partial: 'organizations/get_shit_done/observable_moments_section'
- else
  - hidden_categories << 'Observable Moments'

- if @maap_snapshots.any?
  = render partial: 'organizations/get_shit_done/maap_snapshots_section'
- else
  - hidden_categories << 'Check-ins Awaiting Acknowledgement'

- if @check_ins_awaiting_input.any?
  = render partial: 'organizations/get_shit_done/check_ins_awaiting_input_section'
- else
  - hidden_categories << 'Check-ins Awaiting Your Input'

- if @goals_needing_check_in.any?
  = render partial: 'organizations/get_shit_done/goal_check_ins_section'
- else
  - hidden_categories << 'Goal Check-ins'

- if @observation_drafts.any?
  = render partial: 'organizations/get_shit_done/observation_drafts_section'
- else
  - hidden_categories << 'Observation Drafts'

- if hidden_categories.any?
  %p.text-muted.small.mt-4.mb-0
    Categories with no tasks (hidden):
    = hidden_categories.to_sentence

