- get_shit_done_label = company_label_for('get_shit_done', 'Get Shit Done')
- content_for :title, "#{get_shit_done_label} - #{@teammate.person.casual_name}"

- content_for :header do
  .d-flex.flex-wrap.align-items-center.gap-2
    %h1.mb-0= get_shit_done_label
    = link_to edit_organization_digest_path(organization, return_url: organization_get_shit_done_path(organization), return_text: "Back to #{get_shit_done_label}"), class: "btn btn-outline-secondary btn-sm" do
      %i.bi.bi-bell.me-1
      Configure digest
  %p.text-muted.mb-0 Items that need your attention

-# Observable Moments Section
= render partial: 'organizations/get_shit_done/observable_moments_section'

-# MAAP Snapshots Section
= render partial: 'organizations/get_shit_done/maap_snapshots_section'

-# Check-ins Awaiting Input Section
= render partial: 'organizations/get_shit_done/check_ins_awaiting_input_section'

-# Goal Check-ins Section
= render partial: 'organizations/get_shit_done/goal_check_ins_section'

-# Observation Drafts Section
= render partial: 'organizations/get_shit_done/observation_drafts_section'

