- organization = local_assigns[:organization]
- teammate = local_assigns[:teammate]
- assignment = local_assigns[:assignment]
- casual_name = local_assigns[:casual_name]
- open_count = (local_assigns[:counts] || {})[:open_associated_goals_count].to_i
- return_url = my_growth_experiences_organization_company_teammate_path(organization, teammate)
- goal_flow_opts = { return_url: return_url, return_text: 'Grow by experiences', for_company_teammate_id: teammate.id }.compact
- goal_href = associable_goals_choose_manage_path(organization, assignment, **goal_flow_opts)
- link_body = open_count.zero? ? "Set goal for #{casual_name} and #{assignment.title}" : "Add to the #{open_count} #{'goal'.pluralize(open_count)} for #{casual_name} and #{assignment.title}"
.small.mt-2
  = link_to goal_href, class: 'text-muted text-decoration-none', target: '_blank', rel: 'noopener', data: { turbo: false } do
    = link_body
