/ Assignment Field Changes Partial
/ Shows field-by-field changes in a clean table format

:ruby
  assignment = data[:assignment]
  current_tenure = data[:active_tenure]
  current_check_in = data[:open_check_in]
  proposed_data = maap_snapshot.maap_data['assignments'].find { |a| a['id'] == assignment.id }

.assignment-change-item.mb-4.p-3.border.rounded
  %h5.mb-3= assignment.title
  
  / Field Changes Table
  .table-responsive
    %table.table.table-sm.table-borderless
      %thead
        %tr
          %th.field-column &nbsp;
          %th.change-column &nbsp;
      
      %tbody
        / Tenure Changes
        - if proposed_data&.dig('tenure')
          - proposed_tenure = proposed_data['tenure']
          = render 'people/execute_changes/assignment_fields/anticipated_energy', 
                    current_tenure: current_tenure, 
                    proposed_tenure: proposed_tenure
          = render 'people/execute_changes/assignment_fields/started_date', 
                    current_tenure: current_tenure, 
                    proposed_tenure: proposed_tenure
        
        / Employee Check-in Changes
        - employee_check_in = proposed_data&.dig('employee_check_in') || {}
        = render 'people/execute_changes/assignment_fields/employee_actual_energy', 
                  current_check_in: current_check_in, 
                  employee_check_in: employee_check_in
        = render 'people/execute_changes/assignment_fields/employee_rating', 
                  current_check_in: current_check_in, 
                  employee_check_in: employee_check_in
        = render 'people/execute_changes/assignment_fields/employee_personal_alignment', 
                  current_check_in: current_check_in, 
                  employee_check_in: employee_check_in
        = render 'people/execute_changes/assignment_fields/employee_private_notes', 
                  current_check_in: current_check_in, 
                  employee_check_in: employee_check_in, 
                  person: person
        = render 'people/execute_changes/assignment_fields/employee_completion', 
                  current_check_in: current_check_in, 
                  employee_check_in: employee_check_in
        
        / Manager Check-in Changes
        - manager_check_in = proposed_data&.dig('manager_check_in') || {}
        = render 'people/execute_changes/assignment_fields/manager_rating', 
                  current_check_in: current_check_in, 
                  manager_check_in: manager_check_in, 
                  person: person
        = render 'people/execute_changes/assignment_fields/manager_private_notes', 
                  current_check_in: current_check_in, 
                  manager_check_in: manager_check_in, 
                  person: person
        = render 'people/execute_changes/assignment_fields/manager_completion', 
                  current_check_in: current_check_in, 
                  manager_check_in: manager_check_in
        
        / Official Check-in Changes
        - official_check_in = proposed_data&.dig('official_check_in') || {}
        = render 'people/execute_changes/assignment_fields/official_rating', 
                  current_check_in: current_check_in, 
                  official_check_in: official_check_in
        = render 'people/execute_changes/assignment_fields/shared_notes', 
                  current_check_in: current_check_in, 
                  official_check_in: official_check_in
        = render 'people/execute_changes/assignment_fields/official_completion', 
                  current_check_in: current_check_in, 
                  official_check_in: official_check_in
