- start_on = check_in.check_in_started_on
- start_phrase = start_on.present? ? start_on.strftime("%B %d, %Y") : "the start of this check-in"
- counterparty_completed = single_item_check_in_counterparty_completed?(check_in, teammate, current_person)
.check-in-perspective-notes.mb-3{ role: "note" }
  %p.mb-2.small.text-body
    This is your perspective on #{teammate.person.casual_name} and #{object_name} from #{start_phrase} until now.
  - if counterparty_completed
    %p.mb-2.small.text-body
      = render 'shared/check_ins/counterparty_completion_detail', check_in: check_in, teammate: teammate, current_person: current_person
  - else
    %p.mb-2.small.text-body
      = single_item_check_in_counterparty_not_completed_clause(check_in, teammate, current_person)
  %p.mb-0.small.text-body
    Your check-in on #{teammate.person.casual_name} and #{object_name} is currently:
    - if is_complete
      %span.badge.bg-success.rounded-pill.me-1 ready for review
      %span.text-body ... if you want to make changes, make them, and then click the blue button below to save and keep it ready for review...
    - else
      %span.badge.bg-warning.text-dark.rounded-pill.me-1 draft
      %span.text-body ... click the blue button below to mark it ready for review
  - if is_complete
    .text-center.mt-3
      = link_to '... Or go to the "review together" page', organization_company_teammate_finalization_path(organization, teammate), class: "btn btn-outline-primary btn-lg px-5"
