-# Locals: check_ins (array of finalized check-ins), sentence_type (:position | :assignment | :aspiration), employee_name
- return if check_ins.blank?

.card.mb-4
  .card-header
    %h5.mb-0 Research: Prior Check-ins
  .card-body
    .table-responsive
      %table.table.table-hover
        %thead.table-light
          %tr
            %th Timespan
            %th Finalization
            %th
        %tbody
          - check_ins.each do |check_in|
            - row_id = "prior_ci_#{check_in.id}"
            %tr
              %td= single_item_check_in_timespan(check_in)
              %td= single_item_check_in_finalization_sentence(check_in, employee_name, sentence_type)
              %td
                %a.text-decoration-none{"data-bs-toggle" => "collapse", "data-bs-target" => "##{row_id}_details", "aria-expanded" => "false", style: "cursor: pointer;"}
                  %span.details-collapsed
                    Show Details
                    %i.bi.bi-chevron-down.ms-1
                  %span.details-expanded.d-none
                    Hide Details
                    %i.bi.bi-chevron-up.ms-1
            %tr.collapse{id: "#{row_id}_details"}
              %td{colspan: 3, style: "padding: 0;"}
                .p-3.bg-light.small{style: "white-space: pre-line;"}= single_item_check_in_full_sentences(check_in, employee_name, sentence_type)
