.card.mb-4
  .card-header
    %h3 Assignment Check-Ins
    = check_box_tag 'finalize_assignments', '1', true
    = label_tag 'finalize_assignments', 'Finalize Assignments'
  
  .card-body
    - assignment_check_ins.each do |check_in|
      .assignment-finalization.mb-4.p-3.border.rounded
        %h5= check_in.assignment.title
        
        .row
          .col-md-6.employee-perspective
            %h6 Employee Perspective
            = render 'shared/check_ins_and_finalizations/assignment_employee_perspective', check_in: check_in
          
          .col-md-6.manager-perspective
            %h6 Manager Perspective
            = render 'shared/check_ins_and_finalizations/assignment_manager_perspective', check_in: check_in
        
        .row.mt-3
          .col-md-6
            .form-group
              = label_tag "assignment_check_ins[#{check_in.id}][assignment_id]", "Assignment ID", class: 'sr-only'
              = hidden_field_tag "assignment_check_ins[#{check_in.id}][assignment_id]", check_in.assignment.id
              
              = label_tag "assignment_check_ins[#{check_in.id}][official_rating]", "Official Rating"
              = select_tag "assignment_check_ins[#{check_in.id}][official_rating]",
                          options_for_select(assignment_rating_options, check_in.manager_rating),
                          class: 'form-control'
          
          .col-md-6
            .form-group
              = label_tag "assignment_check_ins[#{check_in.id}][shared_notes]", "Shared Notes"
              = text_area_tag "assignment_check_ins[#{check_in.id}][shared_notes]", nil, 
                             rows: 2, class: 'form-control',
                             placeholder: 'Summary, action items, development plans...'
