.container.mt-4
  .row.justify-content-center
    .col-lg-8
      .d-flex.justify-content-between.align-items-center.mb-4
        = link_to assignment_path(@assignment), class: "btn btn-outline-secondary" do
          %i.bi.bi-arrow-left.me-1
          Back to Assignment
        %h2.mb-0 Edit Assignment
      
      .card
        .card-header
          %h4.mb-0
            %i.bi.bi-briefcase.me-2
            Edit Assignment
        
        .card-body
          = form_with model: @assignment, local: true do |form|
            = render 'form', form: form
            

            .d-flex.justify-content-between
              = link_to "Cancel", assignment_path(@assignment), class: "btn btn-secondary"
              = form.submit "Update Assignment", class: "btn btn-primary"
            