= form.text_area :manager_private_notes,
                 rows: 2,
                 class: css_class || 'form-control form-control-sm',
                 placeholder: 'Manager notes...'

.mt-2
  - since_date = check_in.previous_finalized_check_in&.official_check_in_completed_at || 1.year.ago
  - teammate = @person.teammates.find_by(organization: @organization)
  - if teammate
    - observations = visible_observations_for_person(current_person, @organization)
    - observations = observations.joins(:observed_teammates).where(teammates: { id: teammate.id })
    - observations = observations.joins(:observation_ratings).where(observation_ratings: { rateable_type: 'Assignment', rateable_id: check_in.assignment_id })
    - observations = observations.where('observed_at >= ?', since_date) if since_date.present?
    - observation_count = observations.count
    .d-flex.flex-column.gap-1
      - time_ago = time_ago_in_words(since_date)
      = link_to filtered_observations_organization_observations_path(@organization, rateable_type: 'Assignment', rateable_id: check_in.assignment_id, observee_ids: [teammate.id], start_date: since_date), target: '_blank', class: "text-muted text-decoration-none small" do
        %i.bi.bi-eye.me-1
        - if observation_count > 0
          #{pluralize(observation_count, 'observation')} on this since #{time_ago} ago
        - else
          No notes to show since #{time_ago} ago
      = link_to new_organization_observation_path(@organization, return_url: organization_person_check_ins_path(@organization, @person, show_observations_for: "assignment_#{check_in.assignment_id}"), return_text: "Check-ins", observee_ids: [teammate.id], rateable_type: 'Assignment', rateable_id: check_in.assignment_id, privacy_level: 'observed_and_managers'), class: "text-muted text-decoration-none small" do
        %i.bi.bi-plus-circle.me-1
        Add Win / Challenge





