- content_for :title, "Select Respondents"

- content_for :header do
  .d-flex.align-items-center
    %h1.mb-0.me-2
      %i.bi.bi-people.me-2
      Select Respondents
    - if @feedback_request.subject_line.present?
      %small.text-muted.ms-2= @feedback_request.subject_line

- content_for :go_back_link do
  = link_to feedback_prompt_organization_feedback_request_path(organization, @feedback_request), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Questions

= render 'shared/feedback_request_wizard_header', organization: organization, feedback_request: @feedback_request, current_step: 4

.card
  .card-body
    - if flash[:alert]
      .alert.alert-danger= flash[:alert]

    %label.form-label
      Select who can respond to this feedback request
      %span.text-danger *
    %small.text-muted.d-block Add teammates below; at least one respondent is required.

    = render 'organizations/feedback_requests/multi_teammate_selector', organization: organization, feedback_request: @feedback_request, grouped_respondent_options: @grouped_respondent_options, selected_respondent_teammates: @selected_respondent_teammates

    = form_with url: update_respondents_organization_feedback_request_path(organization, @feedback_request), method: :patch, local: true, class: 'mt-4' do |form|
      .d-flex.justify-content-between
        = link_to 'Cancel', organization_feedback_requests_path(organization), class: 'btn btn-secondary'
        = form.submit 'Save Feedback Request', class: 'btn btn-primary'
