.dropdown
  %button.btn.btn-outline-primary.btn-sm.dropdown-toggle{"data-bs-toggle" => "dropdown", "aria-expanded" => "false", type: "button"}
    %i.bi.bi-eye.me-2
    = people_current_view_name
  %ul.dropdown-menu
    %li
      - if action_name == 'public'
        .dropdown-item.text-muted
          %i.bi.bi-globe.me-2
          Public Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - else
        = link_to public_person_path(@person), class: 'dropdown-item' do
          %i.bi.bi-globe.me-2
          Public Mode
      
    %li
      - if action_name == 'teammate'
        .dropdown-item.text-muted
          %i.bi.bi-people.me-2
          Teammate Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@person).teammate?
        = link_to teammate_person_path(@person), class: 'dropdown-item' do
          %i.bi.bi-people.me-2
          Teammate Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-people.me-2
          Teammate Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You must be an active employee in the same organization to view the teammate version"}
      
    %li
      - if action_name == 'complete_picture'
        .dropdown-item.text-muted
          %i.bi.bi-graph-up.me-2
          Complete Picture (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@person).can_view_manage_mode?
        = link_to complete_picture_organization_person_path(@person.current_organization_or_default, @person), class: 'dropdown-item' do
          %i.bi.bi-graph-up.me-2
          Complete Picture
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-graph-up.me-2
          Complete Picture
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access complete picture features"}
      
    %li
      - if action_name == 'show' && controller_name == 'check_ins'
        .dropdown-item.text-muted
          %i.bi.bi-chat-square-text.me-2
          Check-In Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@person).can_view_manage_mode?
        = link_to organization_check_in_path(@person.current_organization_or_default, @person), class: 'dropdown-item' do
          %i.bi.bi-chat-square-text.me-2
          Check-In Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-chat-square-text.me-2
          Check-In Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access check-in features"}
      
    %li
      - if action_name == 'show' && controller_name == 'assignment_tenures'
        .dropdown-item.text-muted
          %i.bi.bi-clipboard-check.me-2
          Assignment Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@person).can_view_manage_mode?
        = link_to organization_assignment_tenure_path(@person.current_organization_or_default, @person), class: 'dropdown-item' do
          %i.bi.bi-clipboard-check.me-2
          Assignment Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-clipboard-check.me-2
          Assignment Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access assignment features"}
      
    %li
      - if action_name == 'show' && controller_name == 'people'
        .dropdown-item.text-muted
          %i.bi.bi-gear.me-2
          Management Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@person).can_view_manage_mode?
        = link_to person_path(@person), class: 'dropdown-item' do
          %i.bi.bi-gear.me-2
          Management Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-gear.me-2
          Management Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access management features"}
    
    %li
      - if action_name == 'audit'
        .dropdown-item.text-muted
          %i.bi.bi-clock-history.me-2
          Audit View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@person).audit?
        = link_to audit_organization_employee_path(current_organization, @person), class: 'dropdown-item' do
          %i.bi.bi-clock-history.me-2
          Audit View
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-clock-history.me-2
          Audit View
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need MAAP management permissions for this organization or to be in the managerial hierarchy to access audit features"}