.dropdown
  %button.btn.btn-outline-primary.btn-sm.dropdown-toggle{"data-bs-toggle" => "dropdown", "aria-expanded" => "false", type: "button"}
    %i.bi.bi-eye.me-2
    = people_current_view_name
  %ul.dropdown-menu
    %li
      - if action_name == 'public'
        .dropdown-item.text-muted
          %i.bi.bi-globe.me-2
          Public View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate&.person
        = link_to public_person_path(@teammate.person), class: 'dropdown-item' do
          %i.bi.bi-globe.me-2
          Public View
      
    %li
      - if action_name == 'teammate' || action_name == 'internal'
        .dropdown-item.text-muted
          %i.bi.bi-people.me-2
          Teammate View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).internal?
        = link_to internal_organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-people.me-2
          Teammate View
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-people.me-2
          Teammate View
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You must be an active employee in the same organization to view the teammate version"}
      
    %li
      - if action_name == 'complete_picture'
        .dropdown-item.text-muted
          %i.bi.bi-graph-up.me-2
          Active Job View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).complete_picture?
        = link_to complete_picture_organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-graph-up.me-2
          Active Job View
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-graph-up.me-2
          Active Job View
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access complete picture features"}
      
    %li
      - if action_name == 'about_me' && controller_name == 'company_teammates'
        .dropdown-item.text-muted
          %i.bi.bi-person.me-2
          About Me View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).view_check_ins?
        = link_to about_me_organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-person.me-2
          About Me View
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-person.me-2
          About Me View
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access check-in features"}
      
    %li
      - my_growth_actions = %w[my_growth_experiences my_growth_abilities my_growth_goals my_growth_position_change]
      - if controller_name == 'company_teammates' && my_growth_actions.include?(action_name)
        .dropdown-item.text-muted
          %i.bi.bi-flask.me-2
          My Growth (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).complete_picture?
        = link_to my_growth_experiences_organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-flask.me-2
          My Growth
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-flask.me-2
          My Growth
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access complete picture features"}
      
    %li
      - my_check_ins_active = (controller_name == 'check_ins' && %w[hub show review_most_recent].include?(action_name)) || (controller_name == 'finalizations' && action_name == 'show') || (controller_name == 'employees' && action_name == 'audit')
      - if my_check_ins_active
        .dropdown-item.text-muted
          %i.bi.bi-chat-square-text.me-2
          = clarity_hub_active_label
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).view_check_ins?
        = link_to hub_organization_company_teammate_check_ins_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-chat-square-text.me-2
          = clarity_hub_label
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-chat-square-text.me-2
          = clarity_hub_label
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => clarity_check_in_features_tooltip}

    %li
      - one_on_one_active = controller_name == 'one_on_one_links' && %w[show detailed].include?(action_name)
      - one_on_one_link = @teammate&.one_on_one_link || OneOnOneLink.new(teammate: @teammate)
      - if one_on_one_active
        .dropdown-item.text-muted
          %i.bi.bi-link-45deg.me-2
          One on One Hub (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(one_on_one_link).show?
        = link_to organization_company_teammate_one_on_one_link_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-link-45deg.me-2
          One on One Hub
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-link-45deg.me-2
          One on One Hub
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You can open the 1:1 workspace for yourself, people in your managerial hierarchy, or if you have manage employment permission."}

    %li
      - my_goals_active = controller_name == 'company_teammates' && action_name == 'my_growth_goals'
      - if my_goals_active
        .dropdown-item.text-muted
          %i.bi.bi-bullseye.me-2
          My Goals (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).complete_picture?
        = link_to my_growth_goals_organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-bullseye.me-2
          My Goals
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-bullseye.me-2
          My Goals
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to view this teammate's goals."}

    %li
      - viewing_own_kudos = @teammate && current_company_teammate == @teammate
      - can_view_kudos = @teammate && (viewing_own_kudos || policy(@teammate).view_kudos_points?)
      - if action_name == 'kudos_points' && controller_name == 'company_teammates'
        .dropdown-item.text-muted
          %i.bi.bi-star.me-2
          #{company_label_plural('kudos_point', 'Kudos Point')} Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif can_view_kudos
        = link_to kudos_points_organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-star.me-2
          #{company_label_plural('kudos_point', 'Kudos Point')} Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-star.me-2
          #{company_label_plural('kudos_point', 'Kudos Point')} Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You can only view your own #{company_label_plural('kudos_point', 'Kudos Point')} or those of people in your managerial hierarchy"}
      
    %li
      - if action_name == 'show' && controller_name == 'position'
        .dropdown-item.text-muted
          %i.bi.bi-briefcase.me-2
          Seat Management Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif current_organization && @teammate && policy(@teammate).show?
        = link_to organization_teammate_position_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-briefcase.me-2
          Seat Management Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-briefcase.me-2
          Seat Management Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access seat management"}
      
    %li
      - if action_name == 'show' && (controller_name == 'people' || controller_name == 'company_teammates')
        .dropdown-item.text-muted
          %i.bi.bi-gear.me-2
          Manage Profile Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif @teammate && policy(@teammate).show?
        = link_to organization_company_teammate_path(current_organization, @teammate), class: 'dropdown-item' do
          %i.bi.bi-gear.me-2
          Manage Profile Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-gear.me-2
          Manage Profile Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need employment management permissions or to be in the managerial hierarchy to access management features"}
