- content_for :title, "Execute Changes - #{person.display_name}"

- content_for :header do
  .d-flex.justify-content-between.align-items-center
    .header-info
      %h1.mb-0 Execute MAAP Changes
      %p.text-muted.mb-0 Review and execute the changes for #{person.display_name}

- content_for :go_back_link do
  = link_to person_assignment_tenures_path(person), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-1
    Back to Assignment Management

- content_for :top_actions do
  - unless maap_snapshot
    .alert.alert-danger
      %strong Error: 
      MaapSnapshot not found. Please try going back and trying again.
      %br
      = link_to "Back to Assignment Management", person_assignment_tenures_path(person), class: "btn btn-secondary"

.row.justify-content-center
  .col-12
    - if maap_snapshot
      = render 'people/execute_changes/change_details_card'
      = render 'people/execute_changes/employment_section'
      = render 'people/execute_changes/assignments_section'
      = render 'people/execute_changes/milestones_section'
      = render 'people/execute_changes/aspirations_section'
      = render 'people/execute_changes/execute_form'
    - else
      .alert.alert-danger
        %strong Error: 
        MaapSnapshot not found. Please try going back and trying again.
        %br
        = link_to "Back to Assignment Management", person_assignment_tenures_path(person), class: "btn btn-secondary"
