- content_for :header do
  %h1.mb-0
    %i.bi.bi-people.me-2
    = @person.full_name
    %small.text-muted.ms-2 (Teammate View)

- content_for :header_action do
  = render 'view_switcher'

- content_for :go_back_link do
  = link_to organization_employees_path(current_organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Teammates in #{current_organization.display_name}

.row.justify-content-center
  .col-12
    .card
      .card-body
        / Current Organization Information
        - if @current_organization
          .row.mb-4
            .col-12
              %h5.text-muted Current Organization: #{@current_organization.name}
              
              / Current Position
              - current_tenure = @employment_tenures.find { |t| t.company == @current_organization && t.ended_at.nil? }
              - if current_tenure&.position&.position_type
                .alert.alert-success
                  %strong Current Position:
                  = current_tenure.position.position_type.external_title
                  - if current_tenure.started_at
                    %br
                    %small Started: #{current_tenure.started_at.strftime("%B %d, %Y")}
              
              / Organization Access
              - org_access = @teammates.find { |a| a.organization == @current_organization }
              - if org_access
                .alert.alert-info
                  %strong Organization Access:
                  %br
                  - if org_access.can_manage_employment?
                    %span.badge.bg-warning.me-2 Employment Management
                  - if org_access.can_manage_maap?
                    %span.badge.bg-warning.me-2 MAAP Management
                  - if !org_access.can_manage_employment? && !org_access.can_manage_maap?
                    %span.badge.bg-secondary Standard Access
        
        / Huddle Stats (Placeholder)
        .row.mb-4
          .col-12
            %h5.text-muted Huddle Participation
            .alert.alert-info
              %i.bi.bi-info-circle.me-2
              %strong Coming Soon:
              Huddle participation statistics and feedback within this organization will be displayed here.
        
        / Other Organizations
        .row.mb-4
          .col-12
            %h5.text-muted Other Organizations
            - other_tenures = @employment_tenures.reject { |t| t.company == @current_organization }
            - if other_tenures.any?
              .table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th Organization
                      %th Status
                      %th Start Date
                      %th End Date
                  %tbody
                    - other_tenures.each do |tenure|
                      %tr
                        %td= tenure.company.name
                        %td
                          - if tenure.ended_at.nil?
                            %span.badge.bg-success Active
                          - else
                            %span.badge.bg-secondary Former
                        %td= tenure.started_at.strftime("%B %Y")
                        %td
                          - if tenure.ended_at
                            = tenure.ended_at.strftime("%B %Y")
                          - else
                            %span.text-muted Present
            - else
              %p.text-muted No other organizational affiliations.
