- content_for :title, "Edit Department or Team"

- content_for :go_back_link do
  = link_to organization_departments_and_team_path(@organization, @department_or_team), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@department_or_team.name}

- content_for :header do
  %h1.mb-0
    %i.bi.bi-pencil.me-2
    Edit #{@department_or_team.type}

.row.justify-content-center
  .col-lg-8
    .card
      .card-body
        = form_with model: [@organization, @department_or_team], url: organization_departments_and_team_path(@organization, @department_or_team), local: true, method: :patch do |form|
          - if @department_or_team.errors.any?
            .alert.alert-danger
              %h5= "#{pluralize(@department_or_team.errors.count, "error")} prohibited this organization from being saved:"
              %ul.mb-0
                - @department_or_team.errors.full_messages.each do |message|
                  %li= message
          
          .mb-3
            = form.label :name, class: "form-label"
            = form.text_field :name, class: "form-control", required: true
          
          = render 'shared/department_dropdown', 
            form: form, 
            organization: @organization, 
            field_name: :parent_id, 
            label_text: "Parent Organization", 
            selected_department_id: @department_or_team.parent_id,
            include_blank: false,
            exclude_ids: [@department_or_team.id] + @department_or_team.descendants.map(&:id),
            help_text: "Select the parent organization for this #{@department_or_team.type.downcase}."
          
          .d-flex.justify-content-between
            = link_to "Cancel", organization_departments_and_team_path(@organization, @department_or_team), class: "btn btn-secondary"
            = form.submit "Update #{@department_or_team.type}", class: "btn btn-primary"

