/ Anticipated Energy Field
%tr
  %td
    %strong Forecasted Energy
  %td
    - current_energy = current_tenure&.anticipated_energy_percentage.try(:to_i)|| 0
    - proposed_energy = proposed_tenure['anticipated_energy_percentage'].try(:to_i) || 0
    - if current_energy != proposed_energy
      %span.badge.bg-warning.me-2 CHANGED
      %span.text-muted= "#{current_energy} %"
      %i.bi.bi-arrow-right.mx-1
      %span.text-primary= "#{proposed_energy} %"
    - else
      %span.text-muted= "#{current_energy} % (unchanged)"
