- content_for :title, "Titles"

.container.mt-4
  .row.justify-content-center
    .col-lg-10
      .d-flex.justify-content-between.align-items-center.mb-4
        %h2.mb-0
          %i.bi.bi-tag.me-2
          Titles
        - if policy(@organization).manage_maap?
          = link_to new_organization_title_path(@organization), class: "btn btn-primary" do
            %i.bi.bi-plus.me-1
            New Title
      
      - if @titles.any?
        .row
          - @titles.each do |title|
            .col-md-6.col-lg-4.mb-4
              .card.h-100
                .card-body
                  %h5.card-title= title.external_title
                  - if title.position_summary.present?
                    %p.card-text.text-muted= truncate(title.position_summary, length: 100)
                  %p.card-text
                    %small.text-muted
                      %i.bi.bi-star.me-1
                      = title.position_major_level.set_name
                .card-footer.bg-transparent
                  .d-flex.justify-content-between
                    = link_to "View", organization_title_path(@organization, title), class: "btn btn-outline-primary btn-sm"
                    .dropdown
                      %button.btn.btn-outline-secondary.btn-sm.dropdown-toggle{"data-bs-toggle" => "dropdown", :type => "button"}
                        %i.bi.bi-three-dots
                      %ul.dropdown-menu
                        %li
                          = link_to "Edit", edit_organization_title_path(@organization, title), class: "dropdown-item"
                        %li
                          = link_to "Delete", organization_title_path(@organization, title), 
                            method: :delete, 
                            data: { confirm: "Are you sure?" }, 
                            class: "dropdown-item text-danger"
      - else
        .text-center.py-5
          %h4.text-muted No titles yet
          %p.mb-4 Create your first title to define roles and responsibilities.
          - if policy(@organization).manage_maap?
            = link_to new_organization_title_path(@organization), class: "btn btn-primary btn-lg" do
              %i.bi.bi-plus.me-2
              Create Your First Title
