- page_help_id = "assignmentAbilityMilestonesPageHelp"

- content_for :title, "Ability Milestones - #{@assignment.title}"

- content_for :header do
  .d-flex.flex-wrap.align-items-center.gap-2
    %h1.mb-0
      %i.bi.bi-link-45deg.me-2
      #{@assignment.title} - Ability Milestones
    = render "shared/page_help/header_info_button",
             collapse_id: page_help_id,
             tooltip: "Set which Abilities and Milestone levels this assignment requires. Click for details."

- content_for :header_action do
  = render 'assignments/view_switcher'

- content_for :go_back_link do
  = nav_hierarchy_with_previous(organization: @organization, crumbs: [{ label: @assignment.title, url: organization_assignment_path(@organization, @assignment) }, { label: "Ability milestones", url: nil }])

.collapse.mb-4{id: page_help_id}
  = render "shared/ability_milestones/page_help",
           subject_name: @assignment.title,
           subject_kind: :assignment

= form_with model: @form, url: organization_assignment_ability_milestones_path(@organization, @assignment), method: :patch, local: true do |f|
  .row.justify-content-center
    .col-lg-10
      = render "shared/ability_milestones/form_sections",
        subject_name: @assignment.title,
        form_param_prefix: "assignment_ability_milestones_form[ability_milestones]",
        associated_abilities: @associated_abilities,
        available_abilities: @available_abilities,
        existing_associations: @existing_associations,
        can_update: policy(@assignment).update?,
        save_label: "Save Ability Milestones",
        disabled_tooltip: "You need assignment management permissions to update ability milestones"

- if @form.errors.any?
  .row.justify-content-center
    .col-lg-10
      .alert.alert-danger
        %h6
          %i.bi.bi-exclamation-triangle.me-2
          Please fix the following errors:
        %ul.mb-0
          - @form.errors.full_messages.each do |message|
            %li= message
