.card.mb-4{data: {aspiration_id: check_in.aspiration.id}}
  .card-header
    %h3 Aspiration: #{check_in.aspiration.name}
    = check_in_status_badge(check_in)

  .card-body
    - if check_in&.officially_completed?
      = render 'aspiration_check_in_completed', check_in: check_in
    - elsif view_mode == :manager
      = render 'aspiration_check_in_manager_view', check_in: check_in, form: form
    - elsif view_mode == :employee
      = render 'aspiration_check_in_employee_view', check_in: check_in, form: form
    - else
      = render 'aspiration_check_in_in_progress', check_in: check_in, form: form, view_mode: view_mode


