.card.mb-4{data: {assignment_id: check_in.assignment.id}}
  .card-header
    %h3 Assignment: #{check_in.assignment.title}
    = check_in_status_badge(check_in)

  .card-body
    -# Use CheckInBehavior methods to determine what to show
    - display_mode = check_in.viewer_display_mode(view_mode)
    - partial_name = "assignment_check_ins_card_#{view_mode}_#{display_mode}"
    - if partial_exists?(partial_name)
      = render partial_name, check_in: check_in, form: form, view_mode: view_mode
    - else
      = render 'assignment_check_in_in_progress', check_in: check_in, form: form, view_mode: view_mode


