.card.mb-4
  .card-header
    %h5.mb-0 Assignment Management

  .card-body
    - if assignment_data&.any?
      = form.fields_for :assignment_management do |amf|
        .table-responsive
          %table.table.table-hover.table-bordered
            %thead.table-light
              %tr
                %th Assignment
                %th Forecasted Energy
                %th Actions
            %tbody
              - assignment_data.each do |data|
                %tr
                  %td
                    %strong= data[:assignment].title
                    %br
                    %small.text-muted
                      - if data[:tenure]
                        - # Check if there's a previous inactive tenure for this assignment
                        - previous_tenure = data[:assignment].assignment_tenures.joins(:teammate).where(teammates: { person: @person }).inactive.order(:ended_at).last
                        - if previous_tenure
                          Went from #{previous_tenure.anticipated_energy_percentage || 0}% to #{data[:tenure].anticipated_energy_percentage || 0}% on #{previous_tenure.ended_at.strftime('%m/%d/%Y')}
                        - else
                          Started #{data[:tenure].started_at.strftime('%m/%d/%Y')}
                      - elsif data[:most_recent_tenure]
                        - most_recent = data[:most_recent_tenure]
                        Went from #{most_recent.anticipated_energy_percentage || 0}% to 0% on #{most_recent.ended_at.strftime('%m/%d/%Y')}
                      - else
                        Not started
                    %br
                    = link_to "Focus Assignment", person_assignment_path(@person, data[:assignment]), class: "btn btn-sm btn-outline-primary", target: "_blank"
                  
                  %td
                    = select_tag "assignment_management[tenures][#{data[:assignment].id}][anticipated_energy_percentage]", 
                                  options_for_select((0..20).map { |i| ["#{i * 5}%", i * 5] }, data[:tenure]&.anticipated_energy_percentage), 
                                  { prompt: 'Select...', class: "form-select form-select-sm energy-select" }
                  
                  %td
                    .btn-group.btn-group-sm
                      = link_to "View Details", person_assignment_path(@person, data[:assignment]), class: "btn btn-outline-info"
                      - if data[:tenure]
                        = link_to "Check-In", organization_person_check_ins_path(@organization, @person, anchor: "assignment_#{data[:assignment].id}"), class: "btn btn-outline-success"
        
        .row.mt-3
          .col-6
            = link_to "Add more assignments", choose_assignments_organization_assignment_tenure_path(@organization, @person), class: "btn btn-outline-primary"
          .col-6.text-end
            %small.text-muted Total Energy: 
            %span#energy-total 0%
    - else
      .alert.alert-info
        %h6.mb-2
          %i.bi.bi-info-circle.me-2
          No Assignments Found
        %p.mb-0 No assignments found for #{@person.display_name}.
        %p.mb-0
          = link_to "Add your first assignment", choose_assignments_organization_assignment_tenure_path(@organization, @person), class: "btn btn-primary"

-# Hidden field for selected assignments (used when adding new assignments)
= form.fields_for :assignment_management do |amf|
  = amf.hidden_field :selected_assignments, value: "", id: "selected_assignments_field"
