-# Position Check-Ins Table View - Manager Show Open Fields
= form.fields_for :position_check_in do |pf|
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Position
          %th Manager Rating
          %th Manager Notes
          %th Employee Status
          %th Status
      %tbody
        %tr
          %td
            = link_to history_organization_person_position_check_ins_path(@organization, @person), 
                       target: "_blank", 
                       "data-bs-toggle" => "popover", 
                       "data-bs-trigger" => "hover", 
                       "data-bs-placement" => "right", 
                       "data-bs-html" => "true", 
                       "data-bs-content" => latest_position_check_in_popover_content(check_in.teammate),
                       class: "text-decoration-none" do
              = check_in.employment_tenure.position.display_name
              %i.bi.bi-clock-history.ms-1.text-muted
          %td
            = render 'organizations/check_ins/form_fields/manager_rating_field', form: pf, check_in: check_in, css_class: 'form-control form-control-sm'
          %td
            = render 'organizations/check_ins/form_fields/manager_private_notes_field', form: pf, check_in: check_in, css_class: 'form-control form-control-sm'
          %td
            - other_mode = check_in.other_participant_display_mode(:manager)
            - partial_name = "position_check_ins_table_manager_#{other_mode}"
            = render partial_name, check_in: check_in
          %td
            = render 'organizations/check_ins/form_fields/position_status_field', form: pf, check_in: check_in
