- content_for :header do
  %h1.mb-0 Check-Ins for #{@person.display_name}
  %p.text-muted.mb-0= "View Mode: #{@view_mode.to_s.titleize}"
        
- content_for :header_action do
  .d-flex.align-items-center.gap-2
    -# View Toggle Buttons
    .btn-group.me-3{"role" => "group"}
      = link_to organization_person_check_ins_path(@organization, @person, view: 'table'), 
                class: "btn btn-sm #{'btn-primary' if @view_mode_param == 'table'} #{'btn-outline-primary' if @view_mode_param != 'table'}",
                "data-view" => "table",
                title: "Table View" do
        %i.bi.bi-table.me-1
        Table
      = link_to organization_person_check_ins_path(@organization, @person, view: 'card'), 
                class: "btn btn-sm #{'btn-primary' if @view_mode_param == 'card'} #{'btn-outline-primary' if @view_mode_param != 'card'}",
                "data-view" => "card",
                title: "Card View" do
        %i.bi.bi-grid.me-1
        Card
    
    = render 'people/view_switcher'

- content_for :go_back_link do
  - if @person.active_employment_tenure_for(@organization)
    = link_to organization_person_finalization_path(@organization, @person), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Go to Finalization
  - else
    = link_to organization_person_path(@organization, @person), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Back to Profile

-# Show pending acknowledgement banner if applicable
- if @view_mode == :employee && @person.maap_snapshots.executed.where(employee_acknowledged_at: nil).any?
  .alert.alert-warning
    %strong ⚠️ Your manager has finalized check-ins.
    = link_to 'Review and Acknowledge', organization_person_finalization_path(@organization, @person), class: 'btn btn-sm btn-warning'

-# Mobile warning for table view
- if @view_mode_param == 'table'
  .alert.alert-info.d-md-none
    %strong ℹ️ Mobile Notice:
    This view performs better on larger screens. 
    = link_to 'Switch to card view for mobile', organization_person_check_ins_path(@organization, @person, view: 'card'), class: 'btn btn-sm btn-outline-primary ms-2'

= form_with url: organization_person_check_ins_path(@organization, @person), method: :patch, scope: :check_ins do |f|
  
  -# Position Section
  = render 'section_header', 
           title: 'Position/Overall', 
           icon: 'bi-briefcase', 
           description: 'Assess role performance and growth'
  
  - if @view_mode_param == 'table'
    = render 'position_check_ins_table',
             position_check_in: @position_check_in,
             form: f,
             view_mode: @view_mode
  - else
    = render 'position_check_in_card',
             position_check_in: @position_check_in,
             form: f,
             view_mode: @view_mode
  .row.mt-4
    .col-12
      = f.submit 'Save All Check-Ins', class: 'btn btn-primary btn-lg'

  -# Assignment Section
  = render 'section_header', 
           title: 'Assignments/Outcomes', 
           icon: 'bi-clipboard-check', 
           description: 'Evaluate project contributions and energy',
           action_link: { url: assignment_selection_organization_person_path(@organization, @person), icon: 'bi-plus-circle', text: '', title: 'Manage assignments' }
  
  - if @view_mode_param == 'table'
    = render 'assignment_check_ins_table',
             assignment_check_ins: @assignment_check_ins,
             form: f,
             view_mode: @view_mode
  - else
    = render 'assignment_check_ins_card',
             assignment_check_ins: @assignment_check_ins,
             form: f,
             view_mode: @view_mode
  
  -# Aspiration Section
  = render 'section_header', 
           title: 'Aspirations/Values', 
           icon: 'bi-star', 
           description: 'Track progress toward personal goals'
  .row.mt-4
    .col-12
      = f.submit 'Save All Check-Ins', class: 'btn btn-primary btn-lg'

  - if @view_mode_param == 'table'
    = render 'aspiration_check_ins_table',
             aspiration_check_ins: @aspiration_check_ins,
             form: f,
             view_mode: @view_mode
  - else
    = render 'aspiration_check_ins_card',
             aspiration_check_ins: @aspiration_check_ins,
             form: f,
             view_mode: @view_mode
  
  .row.mt-4
    .col-12
      = f.submit 'Save All Check-Ins', class: 'btn btn-primary btn-lg'

  = render 'section_header', 
           title: 'Abilities/Skills/Knowledge', 
           icon: 'bi-briefcase', 
           description: 'Something about skill goals'


  = render 'section_header', 
           title: 'Personal Growth/Development', 
           icon: 'bi-briefcase', 
           description: '3 years, 2 quarters, 1 month'

  .row.mt-4
    .col-4 
      .card
        .card-header
          %h5.mb-0 Current Goals (Now => up to 3 months from now)
        .card-body
          %ul
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______
            %li If I can accomplish ____ (by XX/XXX), ______ will become easier or unnecessary
            %li If I can accomplish ____ (by XX/XXX), ______ will become easier or unnecessary
    .col-4 
      .card
        .card-header
          %h5.mb-0 Short-Term Goals (3 months to 3 years from now)
        .card-body
          %ul
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______
    .col-4 
      .card
        .card-header
          %h5.mb-0 Long-Term Goals (More than3 years from now)
        .card-body
          %ul
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______
            %li If I can accomplish ____ (by XX/XXX), I will be able to ______

  = render 'section_header', 
           title: 'Big Three', 
           icon: 'bi-briefcase', 
           description: '3 years, 2 quarters, 1 month'

  = render 'section_header', 
           title: '1:1 Todos', 
           icon: 'bi-briefcase', 
           description: 'Something about dream goals'

  = render 'section_header', 
           title: '1:1 Topics/Issues/Opportunities', 
           icon: 'bi-briefcase', 
           description: 'Something about dream goals'

-# Dream Goals Section