- content_for :title, "Assignment Milestones - #{@ability.name}"

- content_for :header do
  .d-flex.justify-content-between.align-items-center
    %h1.mb-0
      %i.bi.bi-link-45deg.me-2
      #{@ability.name} - Assignment Milestones
    - if policy(@ability).update?
      = link_to organization_ability_path(@organization, @ability), class: "btn btn-outline-primary" do
        %i.bi.bi-arrow-left.me-2
        Back to Ability

- content_for :go_back_link do
  = nav_hierarchy_with_previous(organization: @organization, crumbs: [{ label: @ability.name, url: organization_ability_path(@organization, @ability) }, { label: "Assignment milestones", url: nil }])

= form_with model: @form, url: organization_ability_assignment_milestones_path(@organization, @ability), method: :patch, local: true do |f|
  .row.justify-content-center
    .col-lg-10
      = render "shared/assignment_milestones/form_sections",
        subject_name: @ability.name,
        form_param_prefix: "ability_assignment_milestones_form[assignment_milestones]",
        associated_assignments: @associated_assignments,
        available_assignments: @available_assignments,
        existing_associations: @existing_associations,
        can_update: policy(@ability).update?,
        save_label: "Save Assignment Milestones",
        disabled_tooltip: "You need MAAP management permissions to update assignment milestones"

- if @form.errors.any?
  .row.justify-content-center
    .col-lg-10
      .alert.alert-danger
        %h6
          %i.bi.bi-exclamation-triangle.me-2
          Please fix the following errors:
        %ul.mb-0
          - @form.errors.full_messages.each do |message|
            %li= message
