- content_for :title, "Bank Awards"

- content_for :header do
  .d-flex.align-items-center.justify-content-between
    %h1.mb-0.me-2
      %i.bi.bi-bank.me-2
      Bank Awards
    = link_to new_organization_kudos_rewards_bank_award_path(@organization), class: "btn btn-primary" do
      %i.bi.bi-plus-circle.me-1
      Award Points

- content_for :go_back_link do
  = link_to kudos_points_organization_company_teammate_path(@organization, current_company_teammate), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{company_label_plural('kudos_point', 'Kudos Point')}

.card
  .card-header
    %h5.mb-0
      %i.bi.bi-clock-history.me-2
      Recent Bank Awards

  .card-body
    - if @recent_awards.any?
      .table-responsive
        %table.table.table-hover.mb-0
          %thead
            %tr
              %th Date
              %th Recipient
              %th Awarded By
              %th To Give
              %th To Spend
              %th Reason
          %tbody
            - @recent_awards.each do |award|
              %tr
                %td
                  = award.created_at.strftime("%b %d, %Y")
                  %br
                  %small.text-muted= award.created_at.strftime("%I:%M %p")
                %td= award.recipient_name
                %td= award.banker_name
                %td.text-success
                  - if award.points_to_give_delta.to_f > 0
                    = "+#{award.points_to_give_delta}"
                  - else
                    \-
                %td.text-success
                  - if award.points_to_spend_delta.to_f > 0
                    = "+#{award.points_to_spend_delta}"
                  - else
                    \-
                %td
                  %span{ title: award.reason }
                    = truncate(award.reason, length: 40)
    - else
      .text-center.py-4
        %i.bi.bi-inbox.fs-1.text-muted
        %p.text-muted.mt-2 No bank awards yet.
        %p.small.text-muted
          = link_to "Award your first points", new_organization_kudos_rewards_bank_award_path(@organization)
