.row
  .col-md-8
    / Main statistics/metrics area
    .row.text-center
      .col-4
        .h3.text-primary= @spotlight_stats[:total_responders] || 0
        %small.text-muted Total Responders
      .col-4
        .h3.text-success= @spotlight_stats[:responded_count] || 0
        %small.text-muted Have Responded
      .col-4
        .h3.text-info= @spotlight_stats[:open_requests] || 0
        %small.text-muted Open Requests
  
  .col-md-4
    / Action alerts or status messages
    - if @spotlight_stats[:open_requests].to_i == 0
      .alert.alert-info.small
        %i.bi.bi-info-circle.me-2
        %strong No open feedback requests
    - elsif @spotlight_stats[:total_responders].to_i > 0
      - response_rate = (@spotlight_stats[:responded_count].to_f / @spotlight_stats[:total_responders].to_f * 100).round
      - if response_rate == 100
        .alert.alert-success.small
          %i.bi.bi-check-circle.me-2
          %strong All responders have answered!
      - elsif response_rate >= 75
        .alert.alert-info.small
          %i.bi.bi-info-circle.me-2
          %strong #{response_rate}% response rate
      - else
        .alert.alert-warning.small
          %i.bi.bi-exclamation-triangle.me-2
          %strong Only #{response_rate}% response rate
