.container
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= @employment_tenure.display_name
    .btn-group
      = link_to 'Edit', edit_person_employment_tenure_path(@person, @employment_tenure), class: 'btn btn-outline-secondary'
      = link_to 'Back to Profile', organization_person_path(@employment_tenure.company, @person), class: 'btn btn-outline-primary'

  .card
    .card-body
      .row
        .col-md-6
          %h5.card-title Person
          %p.card-text= @employment_tenure.teammate.person.display_name
          
          %h5.card-title Company
          %p.card-text= @employment_tenure.company.display_name
          
          %h5.card-title Position
          %p.card-text= @employment_tenure.position.display_name
          
          %h5.card-title Seat
          %p.card-text= @employment_tenure.seat ? @employment_tenure.seat.display_name : 'No specific seat'

        .col-md-6
          %h5.card-title Manager
          %p.card-text= @employment_tenure.manager_display
          
          %h5.card-title Duration
          %p.card-text= @employment_tenure.duration_display
          
          %h5.card-title Status
          %p.card-text= @employment_tenure.status_badge

      - if @employment_tenure.employment_change_notes.present?
        .mt-3
          %h5.card-title Notes
          %p.card-text= @employment_tenure.employment_change_notes

      .mt-3
        = link_to 'Delete Employment Tenure', person_employment_tenure_path(@person, @employment_tenure), 
          method: :delete, 
          data: { confirm: 'Are you sure you want to delete this employment tenure?' }, 
          class: 'btn btn-danger'
