- content_for :title, "About Me - #{@teammate.person.casual_name}"

- content_for :header do
  %h1.mb-0 About #{@teammate.person.casual_name}
        
- content_for :header_action do
  = render 'people/view_switcher'

-# - content_for :go_back_link do
-#   = link_to organization_company_teammate_path(organization, @teammate), class: "go-back-link" do
-#     %i.bi.bi-arrow-left.me-2
-#     Back to Profile

-# Position/Overall Check-In Section (Read-Only)
= render partial: 'organizations/company_teammates/about_me/position_check_in_section'

-# Assignments/Outcomes Check-In Section (Read-Only)
= render partial: 'organizations/company_teammates/about_me/assignments_check_in_section'

-# Aspirational Values Check-In Section (Read-Only)
= render partial: 'organizations/company_teammates/about_me/aspirations_check_in_section'

-# Active Goals Section
= render partial: 'organizations/company_teammates/about_me/goals_section'

-# Prompts/Reflections Section
= render partial: 'organizations/company_teammates/about_me/prompts_section'

-# Stories Section
= render partial: 'organizations/company_teammates/about_me/stories_section'

-# 1:1 Area Section
= render partial: 'organizations/company_teammates/about_me/one_on_one_section'

-# Abilities/Skills/Knowledge Section (Read-Only)
= render partial: 'organizations/company_teammates/about_me/abilities_section'

