- content_for :title, "#{@teammate.person.full_name} - Teammate View"

- content_for :header do
  %h1.mb-0
    %i.bi.bi-people.me-2
    = @teammate.person.full_name
    %small.text-muted.ms-2 (Teammate View)

- content_for :header_action do
  = render 'people/view_switcher'

- content_for :go_back_link do
  = link_to organization_employees_path(@current_organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Teammates in #{@current_organization.display_name}

- if @debug_mode
  .row.mb-4
    .col-12
      .card.border-warning
        .card-header.bg-warning.text-dark
          %h4.mb-0
            %i.bi.bi-bug.me-2
            Authorization Debug Panel
            %small.ms-2 (Add ?debug=true to URL to enable)
        .card-body
          .accordion#debugAccordion
            / Section 1: Current User Context
            .accordion-item
              %h2.accordion-header#headingCurrentUser
                %button.accordion-button{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapseCurrentUser", "aria-expanded": "true", "aria-controls": "collapseCurrentUser"}
                  %i.bi.bi-person-badge.me-2
                  Current User Context
              #collapseCurrentUser.accordion-collapse.collapse.show{"aria-labelledby": "headingCurrentUser", "data-bs-parent": "#debugAccordion"}
                .accordion-body
                  %table.table.table-sm.table-bordered
                    %tbody
                      %tr
                        %th Person ID
                        %td= debug_format_value(@debug_data[:current_user][:person_id])
                      %tr
                        %th Person Email
                        %td= debug_format_value(@debug_data[:current_user][:person_email])
                      %tr
                        %th Person Name
                        %td= debug_format_value(@debug_data[:current_user][:person_name])
                      %tr
                        %th CompanyTeammate ID
                        %td= debug_format_value(@debug_data[:current_user][:company_teammate_id])
                      %tr
                        %th CompanyTeammate Org
                        %td= debug_format_value(@debug_data[:current_user][:company_teammate_org]&.name)
                      %tr
                        %th Current Organization
                        %td= debug_format_value(@debug_data[:current_user][:current_organization]&.name)
                      %tr
                        %th Session Teammate ID
                        %td= debug_format_value(@debug_data[:current_user][:session_teammate_id])
                      %tr
                        %th Impersonating?
                        %td= debug_boolean_badge(@debug_data[:current_user][:impersonating])
                      %tr
                        %th OG Admin?
                        %td= debug_boolean_badge(@debug_data[:current_user][:og_admin])

            / Section 2: Subject Person Context
            .accordion-item
              %h2.accordion-header#headingSubjectPerson
                %button.accordion-button.collapsed{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapseSubjectPerson", "aria-expanded": "false", "aria-controls": "collapseSubjectPerson"}
                  %i.bi.bi-person.me-2
                  Subject Person Context
              #collapseSubjectPerson.accordion-collapse.collapse{"aria-labelledby": "headingSubjectPerson", "data-bs-parent": "#debugAccordion"}
                .accordion-body
                  %h6 Basic Info
                  %table.table.table-sm.table-bordered.mb-3
                    %tbody
                      %tr
                        %th Person ID
                        %td= debug_format_value(@debug_data[:subject_person][:person_id])
                      %tr
                        %th Person Email
                        %td= debug_format_value(@debug_data[:subject_person][:person_email])
                      %tr
                        %th Person Name
                        %td= debug_format_value(@debug_data[:subject_person][:person_name])
                      %tr
                        %th Teammates Count
                        %td= debug_format_value(@debug_data[:subject_person][:teammates_count])
                  
                  %h6 Teammates
                  - @debug_data[:subject_person][:teammates].each do |tm|
                    .card.mb-2
                      .card-body.p-2
                        %strong= tm[:organization]
                        %span.ms-2.badge.bg-secondary= tm[:type]
                        %table.table.table-sm.mb-0.mt-2
                          %tbody
                            %tr
                              %th ID
                              %td= tm[:id]
                            %tr
                              %th Can Manage Employment
                              %td= debug_boolean_badge(tm[:can_manage_employment])
                            %tr
                              %th Can Create Employment
                              %td= debug_boolean_badge(tm[:can_create_employment])
                            %tr
                              %th Can Manage MAAP
                              %td= debug_boolean_badge(tm[:can_manage_maap])
                            %tr
                              %th Can Manage Prompts
                              %td= debug_boolean_badge(tm[:can_manage_prompts])
                            %tr
                              %th Employed?
                              %td= debug_boolean_badge(tm[:employed])
                            %tr
                              %th Terminated?
                              %td= debug_boolean_badge(tm[:terminated])
                  
                  %h6.mt-3 Employment Tenures
                  - if @debug_data[:subject_person][:employment_tenures].any?
                    %table.table.table-sm.table-bordered
                      %thead
                        %tr
                          %th Company
                          %th Started
                          %th Ended
                          %th Active
                      %tbody
                        - @debug_data[:subject_person][:employment_tenures].each do |et|
                          %tr
                            %td= et[:company]
                            %td= et[:started_at]
                            %td= et[:ended_at] || 'Present'
                            %td= debug_boolean_badge(et[:active])
                  - else
                    %p.text-muted No employment tenures

            / Section 3: Policy Evaluations
            .accordion-item
              %h2.accordion-header#headingPolicies
                %button.accordion-button.collapsed{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapsePolicies", "aria-expanded": "false", "aria-controls": "collapsePolicies"}
                  %i.bi.bi-shield-check.me-2
                  Policy Evaluations
              #collapsePolicies.accordion-collapse.collapse{"aria-labelledby": "headingPolicies", "data-bs-parent": "#debugAccordion"}
                .accordion-body
                  %table.table.table-sm.table-bordered
                    %thead
                      %tr
                        %th Policy Method
                        %th Result
                        %th Explanation
                    %tbody
                      - @debug_data[:policies].each do |method, data|
                        %tr
                          %td
                            %code= method
                          %td= debug_boolean_badge(data[:result])
                          %td
                            %pre.mb-0.small= data[:explanation]

            / Section 4: Permission Checks
            .accordion-item
              %h2.accordion-header#headingPermissions
                %button.accordion-button.collapsed{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapsePermissions", "aria-expanded": "false", "aria-controls": "collapsePermissions"}
                  %i.bi.bi-key.me-2
                  Permission Checks
              #collapsePermissions.accordion-collapse.collapse{"aria-labelledby": "headingPermissions", "data-bs-parent": "#debugAccordion"}
                .accordion-body
                  %h6 Viewer Permissions
                  - @debug_data[:permissions][:viewer_permissions].each do |org_name, perms|
                    .card.mb-2
                      .card-body.p-2
                        %strong= org_name
                        %span.ms-2.badge.bg-info= perms[:organization_type]
                        %table.table.table-sm.mb-0.mt-2
                          %tbody
                            %tr
                              %th Teammate ID
                              %td= perms[:teammate_id]
                            %tr
                              %th Can Manage Employment
                              %td= debug_boolean_badge(perms[:can_manage_employment])
                            %tr
                              %th Can Create Employment
                              %td= debug_boolean_badge(perms[:can_create_employment])
                            %tr
                              %th Can Manage MAAP
                              %td= debug_boolean_badge(perms[:can_manage_maap])
                            %tr
                              %th Can Manage Prompts
                              %td= debug_boolean_badge(perms[:can_manage_prompts])
                            %tr
                              %th Can Manage Employment (Hierarchy)
                              %td= debug_boolean_badge(perms[:can_manage_employment_hierarchy])
                            %tr
                              %th Can Manage MAAP (Hierarchy)
                              %td= debug_boolean_badge(perms[:can_manage_maap_hierarchy])
                            %tr
                              %th Can Manage Prompts (Hierarchy)
                              %td= debug_boolean_badge(perms[:can_manage_prompts_hierarchy])
                            %tr
                              %th.bg-light{colspan: 2} Teammate Flags (Direct)
                            %tr
                              %th.ps-4 can_manage_employment
                              %td= debug_boolean_badge(perms[:teammate_flags][:can_manage_employment])
                            %tr
                              %th.ps-4 can_create_employment
                              %td= debug_boolean_badge(perms[:teammate_flags][:can_create_employment])
                            %tr
                              %th.ps-4 can_manage_maap
                              %td= debug_boolean_badge(perms[:teammate_flags][:can_manage_maap])
                            %tr
                              %th.ps-4 can_manage_prompts
                              %td= debug_boolean_badge(perms[:teammate_flags][:can_manage_prompts])
                  
                  %h6.mt-3 Subject Permissions
                  - @debug_data[:permissions][:subject_permissions].each do |org_name, perms|
                    .card.mb-2
                      .card-body.p-2
                        %strong= org_name
                        %span.ms-2.badge.bg-info= perms[:organization_type]
                        %table.table.table-sm.mb-0.mt-2
                          %tbody
                            %tr
                              %th Teammate ID
                              %td= perms[:teammate_id]
                            %tr
                              %th Can Manage Employment
                              %td= debug_boolean_badge(perms[:can_manage_employment])
                            %tr
                              %th Can Create Employment
                              %td= debug_boolean_badge(perms[:can_create_employment])
                            %tr
                              %th Can Manage MAAP
                              %td= debug_boolean_badge(perms[:can_manage_maap])
                            %tr
                              %th Can Manage Prompts
                              %td= debug_boolean_badge(perms[:can_manage_prompts])
                  
                  %h6.mt-3 Hierarchy Checks
                  - @debug_data[:permissions][:hierarchy_checks].each do |org_name, checks|
                    .card.mb-2
                      .card-body.p-2
                        %strong= org_name
                        %table.table.table-sm.mb-0.mt-2
                          %tbody
                            %tr
                              %th Parent
                              %td= checks[:parent] || 'None'
                            %tr
                              %th Viewer in Hierarchy?
                              %td= debug_boolean_badge(checks[:viewer_in_hierarchy])
                            %tr
                              %th Self and Descendants
                              %td
                                - checks[:self_and_descendants].each do |id, name|
                                  %div
                                    %code= "#{id}: #{name}"

            / Section 5: Warnings & Issues
            .accordion-item
              %h2.accordion-header#headingWarnings
                %button.accordion-button.collapsed{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapseWarnings", "aria-expanded": "false", "aria-controls": "collapseWarnings"}
                  %i.bi.bi-exclamation-triangle.me-2
                  Warnings & Issues
                  - if @debug_data[:warnings].any? { |w| w[:type] == 'error' }
                    %span.badge.bg-danger.ms-2= @debug_data[:warnings].count { |w| w[:type] == 'error' }
                  - if @debug_data[:warnings].any? { |w| w[:type] == 'warning' }
                    %span.badge.bg-warning.ms-2= @debug_data[:warnings].count { |w| w[:type] == 'warning' }
              #collapseWarnings.accordion-collapse.collapse{"aria-labelledby": "headingWarnings", "data-bs-parent": "#debugAccordion"}
                .accordion-body
                  - if @debug_data[:warnings].any?
                    - @debug_data[:warnings].each do |warning|
                      = debug_warning_badge(warning)
                  - else
                    .alert.alert-success
                      %i.bi.bi-check-circle.me-2
                      No issues detected!

/ Employment Information Section
.row.mb-4
  .col-12
    .card
      .card-header
        %h5.mb-0
          %i.bi.bi-briefcase.me-2
          Employment Information
      .card-body
        - if @active_employment_tenure
          .row
            .col-md-6
              %p.mb-2
                %strong Active Position Type:
                - if @active_employment_tenure.position&.position_type
                  = @active_employment_tenure.position.position_type.external_title
                - else
                  %span.text-muted Not set
              %p.mb-2
                %strong Manager:
                - if @active_employment_tenure.manager_teammate
                  = link_to @active_employment_tenure.manager_teammate.person.display_name, internal_organization_company_teammate_path(@current_organization, @active_employment_tenure.manager_teammate), class: "text-decoration-none"
                - else
                  %span.text-muted Not set
            .col-md-6
              %p.mb-2
                %strong Earliest Start Date:
                - if @earliest_start_date
                  = @earliest_start_date.strftime("%B %d, %Y")
                - else
                  %span.text-muted Not available
        - else
          %p.text-muted No active employment tenure in this organization.

/ Active Assignment Tenures Section
.row.mb-4
  .col-12
    .card
      .card-header
        %h5.mb-0
          %i.bi.bi-clipboard-check.me-2
          Active Assignment Tenures
      .card-body
        - if @active_assignment_tenures.any?
          .list-group
            - @active_assignment_tenures.each do |tenure|
              .list-group-item
                .d-flex.justify-content-between.align-items-start
                  .flex-grow-1
                    %h6.mb-1
                      = link_to tenure.assignment.title, organization_assignment_path(@current_organization, tenure.assignment), class: "text-decoration-none"
                    - if tenure.assignment.tagline.present?
                      %p.mb-1.text-muted.small= tenure.assignment.tagline
                    %small.text-muted
                      Started: #{tenure.started_at.strftime("%B %d, %Y")}
                      - if tenure.anticipated_energy_percentage.present?
                        %span.ms-2
                          | Energy: 
                          %strong= "#{tenure.anticipated_energy_percentage}%"
                  .ms-3
                    = link_to organization_assignment_path(@current_organization, tenure.assignment), class: "btn btn-sm btn-outline-primary" do
                      %i.bi.bi-eye
        - else
          %p.text-muted No active assignment tenures.

/ Departments & Teams Section
.row.mb-4
  .col-12
    .card
      .card-header
        %h5.mb-0
          %i.bi.bi-diagram-3.me-2
          Active Departments & Teams
      .card-body
        - if @active_departments_and_teams.any?
          .list-group
            - @active_departments_and_teams.each do |dept_team_teammate|
              .list-group-item
                %strong= dept_team_teammate.organization.name
                %span.badge.bg-info.ms-2= dept_team_teammate.organization.type
        - else
          %p.text-muted No active departments or teams.

/ Observations as Observee Section
.row.mb-4
  .col-12
    .card
      .card-header
        %h5.mb-0
          %i.bi.bi-chat-text.me-2
          Recent Observations About #{@teammate.person.display_name}
      .card-body
        - if @observations_as_observee.any?
          .list-group
            - @observations_as_observee.each do |observation|
              .list-group-item
                .d-flex.justify-content-between.align-items-start
                  .flex-grow-1
                    = link_to organization_observation_path(@current_organization, observation), class: "text-decoration-none" do
                      %strong= truncate(observation.story, length: 150)
                    %br
                    %small.text-muted
                      By #{observation.observer.display_name} on #{format_date_in_user_timezone(observation.observed_at)}
                      - if observation.privacy_level == 'public_to_world'
                        %span.badge.bg-success.ms-2 Public
                      - else
                        %span.badge.bg-info.ms-2 Company
                  .ms-3
                    = link_to organization_observation_path(@current_organization, observation), class: "btn btn-sm btn-outline-primary" do
                      %i.bi.bi-eye
        - else
          %p.text-muted No recent company or public observations about this teammate.

/ Observations as Observer Section
.row.mb-4
  .col-12
    .card
      .card-header
        %h5.mb-0
          %i.bi.bi-pencil-square.me-2
          Recent Observations By #{@teammate.person.display_name}
      .card-body
        - if @observations_as_observer.any?
          .list-group
            - @observations_as_observer.each do |observation|
              .list-group-item
                .d-flex.justify-content-between.align-items-start
                  .flex-grow-1
                    = link_to organization_observation_path(@current_organization, observation), class: "text-decoration-none" do
                      %strong= truncate(observation.story, length: 150)
                    %br
                    %small.text-muted
                      On #{format_date_in_user_timezone(observation.observed_at)}
                      - if observation.privacy_level == 'public_to_world'
                        %span.badge.bg-success.ms-2 Public
                      - else
                        %span.badge.bg-info.ms-2 Company
                  .ms-3
                    = link_to organization_observation_path(@current_organization, observation), class: "btn btn-sm btn-outline-primary" do
                      %i.bi.bi-eye
        - else
          %p.text-muted No recent company or public observations by this teammate.

/ Public Goals Section
.row.mb-4
  .col-12
    .card
      .card-header
        %h5.mb-0
          %i.bi.bi-bullseye.me-2
          Publicly Visible Active Goals
      .card-body
        - if @public_goals.any?
          .table-responsive
            %table.table.table-hover
              %thead
                %tr
                  %th Goal
                  %th Owner
                  %th Last Check-In
                  %th Actions
              %tbody
                - @public_goals.each do |goal|
                  %tr
                    %td
                      = link_to goal.title, organization_goal_path(@current_organization, goal), class: "text-decoration-none"
                    %td
                      - if goal.owner_type == 'CompanyTeammate'
                        = goal.owner.person.display_name
                      - elsif goal.owner_type == 'Organization'
                        = goal.owner.name
                      - else
                        %span.text-muted Unknown
                    %td
                      - last_check_in = goal.instance_variable_get(:@last_check_in)
                      - if last_check_in
                        %strong= "#{last_check_in.confidence_percentage}%"
                        %br
                        %small.text-muted= last_check_in.check_in_week_start.strftime("%b %d, %Y")
                      - else
                        %span.text-muted No check-in yet
                    %td
                      = link_to organization_goal_path(@current_organization, goal), class: "btn btn-sm btn-outline-primary" do
                        %i.bi.bi-eye
        - else
          %p.text-muted No publicly visible active goals owned by this teammate.


