- content_for :title, "My Growth — #{@teammate.person.casual_name}"

- content_for :header do
  = render 'organizations/company_teammates/my_growth/header',
    teammate: @teammate,
    intent_text: "Show milestone mileage progress for growth by abilities against the current position requirements."

- content_for :header_action do
  = render 'people/view_switcher'

= render 'organizations/company_teammates/my_growth/nav'

.alert.alert-info
  %p.mb-0
    There are four ways to grow: new experiences, gaining skills/knowledge/abilities, goal attainment, and position/title changes. This is the second of the four. 
    %span.fw-bold.fs-5 Grow by Abilities.
    Being recognized for demonstrating the skills, knowledge, and behaviors your organization and experts deem valuable is an incredible way to showcase your growth!

- if @position.blank?
  .alert.alert-warning.mb-0 No current position on file for this teammate in this organization, so milestone mileage cannot be shown.
- else
  = render "organizations/eligibility_requirements/milestone_mileage_content",
    teammate: @teammate,
    organization: organization,
    position: @position,
    eligibility_report: @eligibility_report,
    mileage_earned_addends: @mileage_earned_addends,
    mileage_required_addends: @mileage_required_addends
