- content_for :title, teammate_context_page_title(@selected_teammate, "Profile")

- content_for :header do
  .d-flex.align-items-center.gap-2.flex-wrap
    %h1.mb-0.d-flex.align-items-center.flex-wrap.gap-2{id: "person-title"}
      = render "shared/teammate_context/title_dropdown",
               organization: organization,
               selected_teammate: @selected_teammate,
               viewable_teammate_groups: @viewable_teammate_groups,
               path_for_teammate: ->(tm) { organization_company_teammate_path(organization, tm) },
               switch_aria_label: "Switch teammate for profile"
      %span= " - Profile"

- content_for :header_action do
  = render 'people/view_switcher'

- content_for :go_back_link do
  = nav_hierarchy_with_previous(organization: organization, crumbs: [{ label: "Teammates", url: organization_employees_path(organization) }, { label: "Profile", url: nil }])

= render 'organizations/company_teammates/profile_tabs', organization: organization, teammate: @teammate, active_tab: :profile

/ About Me Section
.row
  .col-12
    = render 'people/show/about_me'

- if current_company_teammate == @teammate
  .row
    .col-12
      = render 'people/show/navigation_settings'

/ Security & Permissions Section
.row
  .col-12  
    = render 'people/show/identities'

/ Organization Permissions Section
.row
  .col-12
    = render 'people/show/permissions'

/ Page Visits Section
.row.mb-4
  .col-12
    = render 'people/show/page_visits'

= render 'people/show/footer'
