- content_for :title, "Associate Goals with Prompt"

- content_for :header do
  Associate goals with "#{@prompt.prompt_template.title}"

- content_for :return_url do
  = @return_url || edit_organization_prompt_path(@organization, @prompt)

- content_for :return_text do
  = @return_text || "Back to Prompt"

.card.mb-3
  .card-header
    %h5.mb-0
      %i.bi.bi-bullseye.me-2
      How do you want to add goals?
  .card-body
    .list-group.list-group-flush
      %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: manage_goals_organization_prompt_path(@organization, @prompt, return_url: @return_url, return_text: @return_text), data: { test_id: 'choose-create-new-prompt-goals', turbo: false }}
        %i.bi.bi-plus-circle.me-3.fs-4
        .flex-grow-1
          %strong Create new goals
          %small.d-block.text-muted
            Add one or more new goals and associate them with this prompt.
        %i.bi.bi-chevron-right
      %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: associate_existing_goals_organization_prompt_path(@organization, @prompt, return_url: @return_url, return_text: @return_text), data: { turbo: false }}
        %i.bi.bi-link-45deg.me-3.fs-4
        .flex-grow-1
          %strong Associate existing goals with this prompt
          %small.d-block.text-muted
            Choose from your goals that are not yet associated.
        %i.bi.bi-chevron-right
    .mt-3
      = link_to @return_url, class: 'btn btn-outline-secondary' do
        %i.bi.bi-arrow-left.me-1
        = @return_text || 'Cancel'
