- content_for :title, "My Reflections"

- content_for :header do
  .d-flex.align-items-center
    %h1.mb-0.me-2
      %i.bi.bi-journal-text.me-2
      My Reflections

- content_for :go_back_link do
  = link_to dashboard_organization_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Dashboard

- if @active_templates.any?
  .row
    - @active_templates.each do |template|
      .col-md-6.mb-4
        .card.h-100
          .card-header
            %h5.mb-0= template.title
            - if template.description.present?
              %small.text-muted= template.description
          .card-body
            - template_data = @template_prompts[template.id] || { active: nil, previous: [] }
            - active_prompt = template_data[:active]
            - previous_prompts = template_data[:previous]
            
            - if active_prompt
              .mb-3
                - time_ago = time_ago_in_words(active_prompt.updated_at)
                = link_to edit_organization_prompt_path(@organization, active_prompt), class: "btn btn-primary btn-sm w-100" do
                  %i.bi.bi-pencil.me-1
                  Continue #{template.title}
                  %br
                  %small{style: "font-size: 0.75em; opacity: 0.8;"} Last modified #{time_ago} ago
                - if policy(Prompt).create?
                  .mt-2
                    = form_with url: close_and_start_new_organization_prompt_path(@organization, active_prompt), method: :post, local: true, style: "display: inline;" do |f|
                      = f.submit "Close active #{template.title} and open a fresh one", class: "btn btn-link p-0 text-muted border-0 bg-transparent", style: "font-size: 0.85em; text-decoration: none; box-shadow: none;", data: { turbo_confirm: "This cannot be changed. You'll be able to review your current #{template.title}, but won't be able to edit it. Continue?" }
            - elsif policy(Prompt).create?
              .mb-3
                = button_to organization_prompts_path(@organization), method: :post, params: { template_id: template.id }, class: "btn btn-outline-primary btn-sm w-100" do
                  %i.bi.bi-plus.me-1
                  Start #{template.title}
            
            - if previous_prompts.any?
              .mt-3
                %strong.d-block.mb-2 Previous Reflections
                %ul.list-unstyled.mb-0
                  - previous_prompts.each do |prompt|
                    %li.mb-1
                      = link_to edit_organization_prompt_path(@organization, prompt), class: "text-decoration-none" do
                        %i.bi.bi-file-text.me-1
                        = format_date_in_user_timezone(prompt.created_at)
            - else
              .mt-3
                %em.text-muted No previous reflections
- else
  .alert.alert-info
    %h6.mb-2
      %i.bi.bi-info-circle.me-2
      No Active Templates
    %p.mb-0 No active prompt templates are available. Contact your administrator to set up reflection templates.
