/ Giant Clarity Check-Ins card at top
- check_ins_header_html = capture do
  %i.bi.bi-clipboard-check.me-3
  = clarity_hub_label
- check_ins_primary_html = capture do
  %i.bi.bi-clipboard-data.me-3
  = go_to_clarity_hub_label
- check_ins_secondary_html = capture do
  - if @ready_for_finalization_count.to_i > 0
    %i.bi.bi-check-circle.me-2
    Finalize (#{@ready_for_finalization_count})
  - else
    %i.bi.bi-clock-history.me-2
    = clarity_check_in_history_label
- check_ins_tertiary_html = capture do
  - if @finalized_check_in_exists
    %i.bi.bi-check-square.me-2
    = acknowledge_finalized_clarity_check_in_label
  - else
    %i.bi.bi-clock-history.me-2
    = clarity_check_in_history_label
- check_ins_description = dashboard_clarity_descriptions.sample

= render 'organizations/dashboard/dashboard_hero_card',
  header_html: check_ins_header_html,
  description: check_ins_description,
  primary_action_url: organization_company_teammate_check_ins_path(@organization, current_company_teammate),
  primary_action_html: check_ins_primary_html,
  secondary_action_url: @ready_for_finalization_count.to_i > 0 ? organization_company_teammate_finalization_path(@organization, current_company_teammate) : organization_company_teammate_check_ins_path(@organization, current_company_teammate),
  secondary_action_html: check_ins_secondary_html,
  tertiary_action_url: @finalized_check_in_exists ? organization_company_teammate_finalization_path(@organization, current_company_teammate) : organization_company_teammate_check_ins_path(@organization, current_company_teammate),
  tertiary_action_html: check_ins_tertiary_html











