.col-md-4.mb-4.mt-4
  .card.h-100.border-0.shadow
    .card-body.text-center.p-4.d-flex.flex-column
      %h4.mt-3.mb-3.text-primary
        - if defined?(header_popover_content) && header_popover_content
          %span{"data-bs-toggle" => "popover", "data-bs-trigger" => "hover", "data-bs-placement" => "top", "data-bs-content" => header_popover_content, "data-bs-title" => header_popover_title, style: "cursor: pointer;"}
            = header_html
        - else
          = header_html
      %p.text-muted.mb-4.d-flex.align-items-center.justify-content-center{style: "min-height: 48px;"}= description
      
      / Primary Action
      .mb-4
        = link_to primary_action_url, class: "btn btn-primary btn-lg w-100 py-3" do
          = primary_action_html
      
      / Secondary Actions
      .row.g-2.mt-auto
        .col-6
          = link_to secondary_action_url, class: "btn btn-outline-secondary btn-sm w-100 d-flex align-items-center justify-content-center", style: "min-height: 50px;" do
            = secondary_action_html
        .col-6
          = link_to tertiary_action_url, class: "btn btn-outline-secondary btn-sm w-100 d-flex align-items-center justify-content-center", style: "min-height: 50px;" do
            = tertiary_action_html
