- about_active = @active_tab == :about
- from_active = @active_tab == :from
- requests_active = @active_tab == :feedback_requests
- source_active = @active_tab == :source_from_slack
- casual = @casual_name

%ul.nav.nav-tabs.mb-3{role: "tablist"}
  %li.nav-item{role: "presentation"}
    = link_to ogos_organization_company_teammate_path(organization, teammate_route_param(@teammate)),
              class: "nav-link #{'active' if about_active}",
              role: "tab" do
      About #{casual}
  %li.nav-item{role: "presentation"}
    = link_to ogos_from_organization_company_teammate_path(organization, teammate_route_param(@teammate)),
              class: "nav-link #{'active' if from_active}",
              role: "tab" do
      From #{casual}
  %li.nav-item{role: "presentation"}
    = link_to ogos_feedback_requests_organization_company_teammate_path(organization, teammate_route_param(@teammate)),
              class: "nav-link #{'active' if requests_active}",
              role: "tab" do
      Feedback Requests
  %li.nav-item{role: "presentation"}
    = link_to ogos_source_from_slack_organization_company_teammate_path(organization, teammate_route_param(@teammate)),
              class: "nav-link #{'active' if source_active}",
              role: "tab" do
      %i.bi.bi-slack.me-1
      Source from Slack
