- check_in = local_assigns[:check_in]
- goal = local_assigns[:goal] || check_in.goal
- short = local_assigns[:short]
- use_casual_name = local_assigns[:use_casual_name]
- calculated_date = goal&.calculated_target_date

- if check_in.present? && goal.present?
  - date_str = check_in.check_in_week_start.strftime('%B %d, %Y')
  - person_name = use_casual_name ? check_in.confidence_reporter.casual_name : check_in.confidence_reporter.display_name
  - confidence = check_in.confidence_percentage
  - goal_title = goal.title
  - full_sentence = "As of #{date_str}, #{person_name} reports a #{confidence}% confidence we will achieve #{goal_title}"
  - full_sentence += " by #{calculated_date.strftime('%B %d, %Y')}" if calculated_date.present?
  - full_sentence += "."

  - if short
    %span{"data-bs-toggle" => "tooltip", "data-bs-title" => full_sentence, title: full_sentence}
      = "As of "
      %strong= date_str
      = ", "
      %strong= person_name
      = " reports a "
      %strong= "#{confidence}%"
      = " confidence"
  - else
    %span
      = "As of "
      %strong= date_str
      = ", "
      %strong= person_name
      = " reports a "
      %strong= "#{confidence}%"
      = " confidence we will achieve "
      %strong= goal_title
      - if calculated_date.present?
        = " by "
        %strong= calculated_date.strftime('%B %d, %Y')
