- content_for :title, "Goals"

- content_for :go_back_link do
  = link_to organization_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@organization.display_name}

- content_for :header do
  .d-flex.align-items-center
    %h1.mb-0.me-2
      Goals
    .d-flex.align-items-center
      - if policy(Goal).create?
        = link_to new_organization_goal_path(@organization), class: "btn btn-primary ml-2" do
          %i.bi.bi-plus
      - else
        .btn.btn-primary.disabled{style: "opacity: 0.6; cursor: not-allowed;"}
          %i.bi.bi-plus
        %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need to be a teammate to create goals"}

- content_for :header_action do
  - customize_params = params.except(:controller, :action, :page).permit!.to_h
  = link_to customize_view_organization_goals_path(@organization, customize_params), class: "btn btn-outline-secondary" do
    %i.bi.bi-sliders.me-2
    Customize View

/ Owner Selection Section
.row.justify-content-center.mb-4
  .col-lg-12
    .card.border-0.shadow-sm
      .card-body
        = form_with url: organization_goals_path(@organization), method: :get, local: true, id: "owner-selection-form" do |f|
          .row.align-items-end
            .col-md-10
              %label.form-label.fw-bold.fs-5.mb-2 Select Owner
              = select_tag :owner_id, options_for_select(available_goal_owners, "#{@current_filters[:owner_type]}_#{@current_filters[:owner_id]}"), { class: "form-select form-select-lg", required: true, id: "owner-select" }
              %small.form-text.text-muted Choose who owns the goals you want to view
            .col-md-2
              = f.submit "Go", class: "btn btn-primary btn-lg w-100"
          / Preserve other filter parameters
          - if @current_filters[:timeframe].present?
            = hidden_field_tag :timeframe, @current_filters[:timeframe]
          - if @current_filters[:goal_type].present?
            - Array(@current_filters[:goal_type]).each do |gt|
              = hidden_field_tag "goal_type[]", gt
          - if @current_filters[:status].present?
            - Array(@current_filters[:status]).each do |s|
              = hidden_field_tag "status[]", s
          - if @current_filters[:sort].present?
            = hidden_field_tag :sort, @current_filters[:sort]
          - if @current_filters[:direction].present?
            = hidden_field_tag :direction, @current_filters[:direction]
          - if @current_filters[:view].present?
            = hidden_field_tag :view, @current_filters[:view]
          - if @current_filters[:spotlight].present?
            = hidden_field_tag :spotlight, @current_filters[:spotlight]

/ Spotlight Section (always shown)
.row.justify-content-center.mb-4
  .col-lg-12
    .card.border-0.shadow-sm
      .card-body
        - case @current_spotlight
        - when 'goals_overview'
          = render partial: 'organizations/goals/customize_view/spotlights/goals_overview'
        - when 'top_priority'
          = render partial: 'organizations/goals/customize_view/spotlights/top_priority'
        - when 'recently_added'
          = render partial: 'organizations/goals/customize_view/spotlights/recently_added'
        - when 'overdue'
          = render partial: 'organizations/goals/customize_view/spotlights/overdue'
        - else
          = render partial: 'organizations/goals/customize_view/spotlights/default'
      .card-footer.bg-light
        .row.align-items-center
          .col-md-6
            %small.text-muted
              %i.bi.bi-funnel.me-1
              Filters: 
              - if @view_style == 'check-in'
                Check-in Eligible (applied because of the view style)
              - else
                #{@current_filters[:timeframe] || 'All'} / #{@current_filters[:goal_type] || 'All'} / #{@current_filters[:status] || 'All'}
                
              %br
              %i.bi.bi-sort-down.me-1
              - sort_display = case @current_filters[:sort]
              - when 'smart_sort' then 'Smart Sort'
              - when 'most_likely_target_date' then 'Most Likely Date'
              - when 'earliest_target_date' then 'Earliest Date'
              - when 'latest_target_date' then 'Latest Date'
              - when 'created_at' then 'Created Date'
              - when 'title' then 'Title (A-Z)'
              - else 'Smart Sort'
              Sort: #{sort_display} (#{@current_filters[:direction] || 'asc'})
          .col-md-6.text-end
            %small.text-muted
              %i.bi.bi-table.me-1
              View: #{@view_style.capitalize}
              %br
              %i.bi.bi-eye.me-1
              Spotlight: #{@current_spotlight&.humanize || 'None'}

/ Performance warning for visualizations
- if @show_performance_warning
  .row.justify-content-center.mb-3
    .col-lg-12
      .alert.alert-warning.d-flex.align-items-center
        %i.bi.bi-exclamation-triangle.me-2
        %div
          %strong Performance Warning:
          This visualization may be slow with #{@goal_count} goals. Consider using filters to reduce the number of goals.

.row.justify-content-center
  .col-lg-12
    - if @goals.any?
      - case @view_style
      - when 'list'
        = render partial: 'organizations/goals/customize_view/styles/list'
      - when 'table'
        = render partial: 'organizations/goals/customize_view/styles/table'
      - when 'cards'
        = render partial: 'organizations/goals/customize_view/styles/cards'
      - when 'network'
        = render partial: 'organizations/goals/customize_view/styles/network'
      - when 'tree'
        = render partial: 'organizations/goals/customize_view/styles/tree'
      - when 'nested'
        = render partial: 'organizations/goals/customize_view/styles/nested'
      - when 'timeline'
        = render partial: 'organizations/goals/customize_view/styles/timeline'
      - when 'check-in'
        = render partial: 'organizations/goals/customize_view/styles/check_in'
      - when 'hierarchical-indented'
        = render partial: 'organizations/goals/customize_view/styles/hierarchical_indented'
      - else
        / Default to hierarchical-indented view
        = render partial: 'organizations/goals/customize_view/styles/hierarchical_indented'
    - else
      .alert.alert-info
        %h6.mb-2
          %i.bi.bi-info-circle.me-2
          - if @current_filters[:owner_type].blank? || @current_filters[:owner_id].blank?
            Please select an owner to view goals
          - elsif @current_filters.values.any?(&:present?)
            No goals match your current filters. Try adjusting your filters.
          - else
            No goals found for the selected owner.
            = link_to "Create First Goal", new_organization_goal_path(@organization), class: "btn btn-primary btn-sm"


