- content_for :header do
  .d-flex.align-items-center
    %h1.mb-0.me-2= @goal.title
    - if policy(@goal).update?
      = link_to edit_organization_goal_path(@organization, @goal), class: "btn btn-outline-secondary ml-2" do
        %i.bi.bi-pencil.me-2
        Edit
    - else
      .btn.btn-outline-secondary.disabled{style: "opacity: 0.6; cursor: not-allowed;"}
        %i.bi.bi-pencil.me-2
        Edit

- content_for :go_back_link do
  = link_to organization_goals_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Goals

.row
  .col-md-8
    / Goal Details Card
    .card.mb-4{ role: "region", "aria-labelledby": "goal-details" }
      .card-header
        %h5.mb-0{ id: "goal-details" }
          %i.bi.bi-info-circle.me-2
          Goal Details
      .card-body
        %dl.row
          %dt.col-sm-4 Owner:
          %dd.col-sm-8
            - if @goal.owner_type == 'Teammate'
              = @goal.owner.person.display_name
            - elsif @goal.owner_type.in?(['Company', 'Department', 'Team'])
              = @goal.owner.display_name
            - else
              = @goal.owner.display_name

          %dt.col-sm-4 Title:
          %dd.col-sm-8= @goal.title

          %dt.col-sm-4 Description:
          %dd.col-sm-8
            - if @goal.description.present?
              = simple_format(@goal.description)
            - else
              %em.text-muted No description provided

          %dt.col-sm-4 Goal Type:
          %dd.col-sm-8
            %span.badge{class: goal_badge_class(@goal.goal_type)}
              = @goal.goal_type.humanize

          %dt.col-sm-4 Timeframe:
          %dd.col-sm-8
            %span.badge{class: timeframe_badge_class(@goal.timeframe)}
              = @goal.timeframe.to_s.humanize

          %dt.col-sm-4 Status:
          %dd.col-sm-8
            %span.badge{class: status_badge_class(@goal.status)}
              = @goal.status.to_s.humanize
          - if @goal.started_at.present?
            %dt.col-sm-4 Started:
            %dd.col-sm-8= @goal.started_at.strftime("%B %d, %Y at %I:%M %p")
          - if @goal.became_top_priority.present?
            %dt.col-sm-4 Top Priority Since:
            %dd.col-sm-8= @goal.became_top_priority.strftime("%B %d, %Y at %I:%M %p")

          %dt.col-sm-4 Target Dates:
          %dd.col-sm-8
            - if @goal.earliest_target_date.present? || @goal.most_likely_target_date.present? || @goal.latest_target_date.present?
              - if @goal.earliest_target_date.present?
                .mb-1
                  %strong Earliest:
                  = @goal.earliest_target_date.strftime("%B %d, %Y")
              - if @goal.most_likely_target_date.present?
                .mb-1
                  %strong Most Likely:
                  = @goal.most_likely_target_date.strftime("%B %d, %Y")
              - if @goal.latest_target_date.present?
                .mb-1
                  %strong Latest:
                  = @goal.latest_target_date.strftime("%B %d, %Y")
            - else
              %em.text-muted No target dates set
          %dt.col-sm-4 Privacy Level:
          %dd.col-sm-8
            %span.badge.bg-secondary= @goal.privacy_level.humanize

          - if @goal.completed_at.present?
            %dt.col-sm-4 Completed:
            %dd.col-sm-8= @goal.completed_at.strftime("%B %d, %Y at %I:%M %p")
          - if @goal.cancelled_at.present?
            %dt.col-sm-4 Cancelled:
            %dd.col-sm-8= @goal.cancelled_at.strftime("%B %d, %Y at %I:%M %p")

          %dt.col-sm-4 Creator:
          %dd.col-sm-8= @goal.creator.person.display_name
          %dt.col-sm-4 Created:
          %dd.col-sm-8= @goal.created_at.strftime("%B %d, %Y at %I:%M %p")
          %dt.col-sm-4 Updated:
          %dd.col-sm-8= @goal.updated_at.strftime("%B %d, %Y at %I:%M %p")

    / Outgoing Links Card
    .card.mb-4{ role: "region", "aria-labelledby": "outgoing-links" }
      .card-header.d-flex.justify-content-between.align-items-center
        %h5.mb-0{ id: "outgoing-links" }
          %i.bi.bi-arrow-right-circle.me-2
          In pursuit of #{@goal.title}, here are some things that will help get there.
        - if policy(@goal).update?
          = link_to new_outgoing_link_organization_goal_goal_links_path(@organization, @goal, return_url: request.url, return_text: 'Goal'), class: "btn btn-sm btn-primary" do
            %i.bi.bi-plus.me-1
            Add Link
      .card-body
        - if @goal.outgoing_links.any?
          %ul.list-unstyled
            - @goal.outgoing_links.each do |link|
              %li.mb-2
                .d-flex.justify-content-between.align-items-start
                  .flex-grow-1
                    = link_to organization_goal_path(@organization, link.child), class: "text-decoration-none" do
                      %strong= link.child.title
                    - if link.metadata.present? && link.metadata['notes'].present?
                      %small.text-muted.d-block.mt-1= link.metadata['notes']
                  - if policy(link).destroy?
                    = link_to organization_goal_goal_link_path(@organization, @goal, link), method: :delete, class: "btn btn-sm btn-outline-danger ms-2", data: { confirm: "Are you sure you want to remove this link?" } do
                      %i.bi.bi-trash
        - else
          %em.text-muted No outgoing links. This goal doesn't relate to any other goals yet.
          - if policy(@goal).update?
            = link_to new_outgoing_link_organization_goal_goal_links_path(@organization, @goal, return_url: request.url, return_text: 'Goal'), class: "text-decoration-none" do
              Add a link

    / Incoming Links Card
    .card.mb-4{ role: "region", "aria-labelledby": "incoming-links" }
      .card-header.d-flex.justify-content-between.align-items-center
        %h5.mb-0{ id: "incoming-links" }
          %i.bi.bi-arrow-left-circle.me-2
          Pursuing #{@goal.title}, is in part in service to the following goals/visions
        - if policy(@goal).update?
          = link_to new_incoming_link_organization_goal_goal_links_path(@organization, @goal, return_url: request.url, return_text: 'Goal'), class: "btn btn-sm btn-primary" do
            %i.bi.bi-plus.me-1
            Add Link
      .card-body
        - if @goal.incoming_links.any?
          %ul.list-unstyled
            - @goal.incoming_links.each do |link|
              %li.mb-2
                .d-flex.justify-content-between.align-items-start
                  .flex-grow-1
                    = link_to organization_goal_path(@organization, link.parent), class: "text-decoration-none" do
                      %strong= link.parent.title
                    - if link.metadata.present? && link.metadata['notes'].present?
                      %small.text-muted.d-block.mt-1= link.metadata['notes']
                  - if policy(link).destroy?
                    = link_to organization_goal_goal_link_path(@organization, @goal, link), method: :delete, class: "btn btn-sm btn-outline-danger ms-2", data: { confirm: "Are you sure you want to remove this link?" } do
                      %i.bi.bi-trash
        - else
          %em.text-muted No incoming links. No other goals relate to this goal yet.
          - if policy(@goal).update?
            = link_to new_incoming_link_organization_goal_goal_links_path(@organization, @goal, return_url: request.url, return_text: 'Goal'), class: "text-decoration-none" do
              Add a link

  .col-md-4
    / Actions Card
    .card.mb-4
      .card-header
        %h6.mb-0
          %i.bi.bi-gear.me-2
          Actions
      .card-body
        .d-grid.gap-2
          - if policy(@goal).update?
            = link_to edit_organization_goal_path(@organization, @goal), class: "btn btn-primary" do
              %i.bi.bi-pencil.me-2
              Edit Goal
          - if policy(@goal).destroy?
            = link_to organization_goal_path(@organization, @goal), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure you want to delete this goal? This action cannot be undone." } do
              %i.bi.bi-trash.me-2
              Delete Goal


