- content_for :title, "Comments - #{@commentable.class.name}"

- content_for :header do
  .d-flex.justify-content-between.align-items-center
    %h1.mb-0
      %i.bi.bi-chat-dots.me-2
      Comments
      - if @commentable.respond_to?(:title)
        for #{@commentable.title}
      - elsif @commentable.respond_to?(:name)
        for #{@commentable.name}
    .form-check.form-switch
      = form_with url: organization_comments_path(@organization, commentable_type: @commentable.class.name, commentable_id: @commentable.id), 
          method: :get, 
          local: true, 
          class: "d-inline" do |f|
        = f.hidden_field :commentable_type, value: @commentable.class.name
        = f.hidden_field :commentable_id, value: @commentable.id
        = f.check_box :show_resolved, 
            { checked: @show_resolved, 
              class: "form-check-input", 
              id: "show_resolved_toggle",
              onchange: "this.form.submit();" }, 
            "true", 
            "false"
        = f.label :show_resolved, "Show resolved", class: "form-check-label", for: "show_resolved_toggle"

- content_for :go_back_link do
  - if @commentable.is_a?(Assignment)
    = link_to organization_assignment_path(@organization, @commentable), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Back to Assignment
  - elsif @commentable.is_a?(Ability)
    = link_to organization_ability_path(@organization, @commentable), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Back to Ability
  - elsif @commentable.is_a?(Aspiration)
    = link_to organization_aspiration_path(@organization, @commentable), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Back to Aspiration
  - elsif @commentable.is_a?(Position)
    = link_to organization_position_path(@organization, @commentable), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Back to Position
  - elsif @commentable.is_a?(PositionType)
    = link_to organization_position_type_path(@organization, @commentable), class: "go-back-link" do
      %i.bi.bi-arrow-left.me-2
      Back to Position Type

.row.justify-content-center
  .col-lg-10
    - if @root_comments.any?
      - @root_comments.each do |comment|
        = render 'organizations/comments/comment_thread', comment: comment, comments_by_parent: @comments_by_parent, organization: @organization, depth: 0, show_resolved: @show_resolved
    - else
      .card.mb-4
        .card-body.text-center.py-5
          %i.bi.bi-chat-dots.text-muted{style: "font-size: 3rem;"}
          %p.mt-3.text-muted No comments yet. Be the first to comment!

    / New Comment Form
    .card.mt-4
      .card-header
        %h5.mb-0
          %i.bi.bi-plus-circle.me-2
          Add Comment
      .card-body
        = form_with model: [@organization, Comment.new], 
            url: organization_comments_path(@organization),
            local: true,
            class: "comment-form" do |f|
          = f.hidden_field :commentable_type, value: @commentable.class.name
          = f.hidden_field :commentable_id, value: @commentable.id
          .mb-3
            = f.label :body, "Comment", class: "form-label"
            = f.text_area :body, class: "form-control", rows: 4, placeholder: "Write your comment here (markdown supported)"
            - if @form&.errors&.[](:body)&.any?
              .invalid-feedback.d-block
                = @form.errors[:body].join(', ')
          .d-flex.justify-content-end
            = f.submit "Post Comment", class: "btn btn-primary"
