- org = node[:organization]
- assignments = node[:assignments] || []
- children = node[:children] || []
- level = node[:level] || 0
- indent = indent_level * 30

.mb-4{style: "margin-left: #{indent}px;"}
  - if org
    %h6.mb-3{class: level == 0 ? 'fw-bold' : ''}
      - if level > 0
        %i.bi.bi-arrow-return-right.me-2.text-muted
      = org.name
      - if org.department? || org.team?
        = link_to organization_departments_and_team_path(org.root_company, org), target: "_blank", rel: "noopener noreferrer", class: "ms-2", title: "View department" do
          %i.bi.bi-box-arrow-up-right
  
  - if assignments.any?
    .table-responsive
      %table.table.table-sm.table-hover
        %thead.table-light
          %tr
            %th Assignment
            %th Min Energy
            %th Max Energy
            %th Type
        %tbody
          - assignments.each do |assignment|
            - existing_pa = existing_position_assignments[assignment.id]
            - has_value = existing_pa && (existing_pa.min_estimated_energy.to_i != 0 || existing_pa.max_estimated_energy.to_i != 0)
            %tr{class: has_value ? 'table-info' : nil}
              %td
                %strong= assignment.title
                = link_to organization_assignment_path(assignment.company, assignment), target: "_blank", class: "ms-2", title: "View assignment" do
                  %i.bi.bi-box-arrow-up-right
                - if assignment.department
                  %br
                  %small.text-muted= department_hierarchy_display(assignment.department)
                  = link_to organization_departments_and_team_path(assignment.department.root_company, assignment.department), target: "_blank", rel: "noopener noreferrer", class: "ms-2", title: "View department" do
                    %i.bi.bi-box-arrow-up-right
              %td
                = form.select "position_assignments[#{assignment.id}][min_estimated_energy]",
                  energy_percentage_options(existing_pa&.min_estimated_energy),
                  { include_blank: '0%' },
                  { class: "form-select form-select-sm" }
              %td
                = form.select "position_assignments[#{assignment.id}][max_estimated_energy]",
                  energy_percentage_options(existing_pa&.max_estimated_energy),
                  { include_blank: '0%' },
                  { class: "form-select form-select-sm", required: false }
              %td
                = form.select "position_assignments[#{assignment.id}][assignment_type]",
                  options_for_select([['Required', 'required'], ['Suggested', 'suggested']], existing_pa&.assignment_type || 'required'),
                  {},
                  { class: "form-select form-select-sm" }
  
  - if children.any?
    - children.each do |child_node|
      = render 'assignment_hierarchy_node', node: child_node, form: form, existing_position_assignments: existing_position_assignments, indent_level: indent_level + 1


