.dropdown
  %button.btn.btn-outline-primary.btn-sm.dropdown-toggle{"data-bs-toggle" => "dropdown", "aria-expanded" => "false", type: "button"}
    %i.bi.bi-eye.me-2
    = current_view_name
  %ul.dropdown-menu
    %li
      - if action_name == 'show'
        .dropdown-item.text-muted
          %i.bi.bi-gear.me-2
          Management View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - else
        = link_to organization_position_path(@organization, @position), class: 'dropdown-item' do
          %i.bi.bi-gear.me-2
          Management View
      
    %li
      - if action_name == 'job_description'
        .dropdown-item.text-muted
          %i.bi.bi-file-text.me-2
          Job Description View (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - else
        = link_to job_description_organization_position_path(@organization, @position), class: 'dropdown-item' do
          %i.bi.bi-file-text.me-2
          Job Description View
    
    %li
      %hr.dropdown-divider
    
    %li
      - if action_name == 'manage_assignments'
        .dropdown-item.text-muted
          %i.bi.bi-list-check.me-2
          Manage Assignments (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@position).update?
        = link_to manage_assignments_organization_position_path(@organization, @position), class: 'dropdown-item' do
          %i.bi.bi-list-check.me-2
          Manage Assignments
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-list-check.me-2
          Manage Assignments
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need position management permissions to manage assignments"}
    
    %li
      - if controller_name == 'ability_milestones'
        .dropdown-item.text-muted
          %i.bi.bi-award.me-2
          Direct Milestone Requirements (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(@position).update?
        = link_to organization_position_ability_milestones_path(@organization, @position), class: 'dropdown-item' do
          %i.bi.bi-award.me-2
          Direct Milestone Requirements
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-award.me-2
          Direct Milestone Requirements
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need position management permissions to manage direct milestone requirements"}
    
    %li
      = link_to organization_public_maap_position_path(@organization, @position), class: 'dropdown-item', target: '_blank' do
        %i.bi.bi-globe.me-2
        Public View
    
    %li
      %hr.dropdown-divider
    
    %li
      = link_to edit_organization_position_path(@organization, @position), class: 'dropdown-item' do
        %i.bi.bi-pencil.me-2
        Edit Position
    
    %li
      = link_to organization_position_path(@organization, @position), method: :delete, data: { confirm: "Are you sure?" }, class: 'dropdown-item text-danger' do
        %i.bi.bi-trash.me-2
        Delete Position
