- content_for :title, "Edit Position"

- content_for :go_back_link do
  = link_to organization_position_path(@organization, @position), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Position

.row.justify-content-center
  .col-12
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        %h4.mb-0
          %i.bi.bi-briefcase.me-2
          Edit Position: #{@position.display_name}
        = link_to "Manage Assignments", manage_assignments_organization_position_path(@organization, @position), class: "btn btn-primary btn-sm"
      
      .card-body
        = form_with model: [@organization, @form], url: organization_position_path(@organization, @position), local: true do |form|
          - if @form.errors.any?
            .alert.alert-danger
              %h5= "#{pluralize(@form.errors.count, "error")} prohibited this position from being saved:"
              %ul.mb-0
                - @form.errors.full_messages.each do |message|
                  %li= message
          = render 'form', form: form
          
          = render 'shared/semantic_version_section', 
            form: form, 
            version_section_title: @position_decorator.version_section_title_for_context, 
            version_section_description: @position_decorator.version_section_description_for_context, 
            version_options: @position_decorator.edit_version_options
          
          .d-flex.justify-content-between
            = link_to "Cancel", organization_position_path(@organization, @position), class: "btn btn-secondary"
            = form.submit "Update Position", class: "btn btn-primary"
