- content_for :go_back_link do
  = link_to organization_position_path(@organization, @position), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Position

.row.justify-content-center
  .col-lg-8
    .card
      .card-header
        %h4.mb-0
          %i.bi.bi-briefcase.me-2
          Edit Position: #{@position.display_name}
      
      .card-body
        = form_with model: [@organization, @position], url: organization_position_path(@organization, @position), local: true do |form|
          = render 'form', form: form
          
          .d-flex.justify-content-between
            = link_to "Cancel", organization_position_path(@organization, @position), class: "btn btn-secondary"
            = form.submit "Update Position", class: "btn btn-primary"
