- content_for :header do
  Add Abilities to Observation
- content_for :return_url do
  = new_organization_observation_path(organization, draft_id: @observation.id, return_url: params[:return_url], return_text: params[:return_text])
- content_for :return_text do
  = params[:return_text] || 'Draft'

.card.mb-3
  .card-header
    %h5.mb-0
      %i.bi.bi-list-check.me-2
      Select Abilities to Add
  .card-body
    = form_with url: add_rateables_organization_observation_path(organization, @observation), method: :post, local: true do |form|
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :return_url, params[:return_url]
      = hidden_field_tag :return_text, params[:return_text]
      = hidden_field_tag :rateable_type, 'Ability'

      .mb-3
        %label.form-label Select Abilities
        .list-group
          - @abilities.each do |ability|
            - checked = @observation.abilities.include?(ability)
            .list-group-item
              .form-check
                = check_box_tag 'rateable_ids[]', ability.id, checked,
                              class: 'form-check-input',
                              id: "ability_#{ability.id}"
                = label_tag "ability_#{ability.id}", class: 'form-check-label' do
                  %strong= ability.name

      .d-flex.gap-2.mt-3
        = link_to new_organization_observation_path(organization, draft_id: @observation.id, return_url: params[:return_url], return_text: params[:return_text]), class: 'btn btn-outline-secondary' do
          %i.bi.bi-arrow-left.me-1
          = params[:return_text] || 'Draft'
        = form.submit 'Add Selected Abilities', class: 'btn btn-primary'


