- content_for :header do
  Manage Observees
- content_for :return_url do
  = new_organization_observation_path(organization, draft_id: @observation.id, return_url: params[:return_url], return_text: params[:return_text])
- content_for :return_text do
  = params[:return_text] || 'Draft'

.card.mb-3
  .card-header
    %h5.mb-0
      %i.bi.bi-people.me-2
      Select Observees
  .card-body
    = form_with url: manage_observees_organization_observation_path(organization, @observation), method: :patch, local: true do |form|
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :return_url, params[:return_url]
      = hidden_field_tag :return_text, params[:return_text]

      .d-flex.gap-2.mb-3
        = form.submit 'Save Changes', class: 'btn btn-primary'

      .mb-3
        %label.form-label Select Teammates
        - if @teammates.any?
          - items_per_column = (@teammates.size / 3.0).ceil
          - teammate_columns = @teammates.each_slice(items_per_column).to_a
          .row
            - teammate_columns.each do |column_teammates|
              .col-12.col-md-6.col-lg-4.mb-3
                .list-group
                  - column_teammates.each do |teammate|
                    - checked = @observation.observees.exists?(teammate_id: teammate.id)
                    - person = teammate.person
                    - tooltip_text = "#{person.full_name.presence || 'No name'} - #{person.email}"
                    .list-group-item
                      .form-check
                        = check_box_tag 'teammate_ids[]', teammate.id, checked,
                                      class: 'form-check-input',
                                      id: "teammate_#{teammate.id}",
                                      data: { bs_toggle: 'tooltip', bs_title: tooltip_text }
                        = label_tag "teammate_#{teammate.id}", class: 'form-check-label',
                                    data: { bs_toggle: 'tooltip', bs_title: tooltip_text } do
                          %strong= person.casual_name

      .d-flex.gap-2.mt-3
        = form.submit 'Save Changes', class: 'btn btn-primary'


