- content_for :title, @observation.persisted? ? 'Edit Kudos' : 'Create Kudos'

- content_for :header do
  = @observation.persisted? ? 'Edit Kudos' : 'Create Kudos'

- content_for :return_url do
  = @return_url

- content_for :return_text do
  = @return_text

.card.mb-3
  .card-header
    .d-flex.justify-content-between.align-items-center
      %h5.mb-0
        %i.bi.bi-trophy.me-2
        Kudos & Recognition
  .card-body
    - form_url = @observation.persisted? ? update_draft_organization_observation_path(organization, @observation) : update_draft_organization_observation_path(organization, :new)
    = form_with model: @observation, url: form_url, method: :post, local: true, data: { turbo: false, turbo_method: false }, html: { id: 'observation_form' } do |form|
      / Add _method field only for buttons that need PATCH (Add Assignments and default form submission)
      = hidden_field_tag '_method', 'patch', id: 'form_method_field'
      / Explicitly include CSRF token for formaction compatibility
      = hidden_field_tag :authenticity_token, form_authenticity_token, id: 'form_authenticity_token'
      - if @observation.errors.any?
        .alert.alert-danger
          %h6 Please correct the following errors:
          %ul.mb-0
            - @observation.errors.full_messages.each do |message|
              %li= message
      
      / Hidden fields for publish action
      = hidden_field_tag :return_url, @return_url
      = hidden_field_tag :return_text, @return_text
      = hidden_field_tag :show_observations_for, params[:show_observations_for]
      = form.hidden_field :observation_type, value: 'kudos'
      -# Preserve observee_ids through form submissions
      - @observation.observees.each do |observee|
        = hidden_field_tag "observee_ids[]", observee.teammate_id
      
      .container-fluid
        = render 'organizations/observations/form_sections/observees_section', form: form, observation: @observation
        = render 'organizations/observations/form_sections/story_field', form: form, observation: @observation, show_gifs: @show_gifs, organization: organization
        = render 'organizations/observations/form_sections/feelings_section', form: form, observation: @observation
        = render 'organizations/observations/form_sections/rating_sections', form: form, observation: @observation, assignments: @assignments, abilities: @abilities, aspirations: @aspirations
      
      .mb-3
        %hr/
      
      = render 'organizations/observations/form_sections/privacy_selector', form: form, observation: @observation, allowed_levels: @allowed_privacy_levels, disabled_levels: @disabled_levels, organization: organization
      
      -# - if @show_convert_link
      -#   .mb-3
      -#     = render 'organizations/observations/convert_to_generic_link', form: form, observation: @observation, organization: organization
      
      = render 'organizations/observations/form_sections/form_actions', form: form, observation: @observation, return_text: @return_text, organization: organization

