- timeframe = local_assigns.fetch(:timeframe)
- path_for = local_assigns.fetch(:path_for)
- show_custom = local_assigns.fetch(:show_custom, false)
- wrapper_class = local_assigns.fetch(:wrapper_class, 'mb-4')
- form_hidden_fields = local_assigns.fetch(:form_hidden_fields, {})
- custom_from = local_assigns[:custom_from]
- custom_to = local_assigns[:custom_to]
- btn_class = ->(key) { "btn #{timeframe == key ? 'btn-primary' : 'btn-outline-primary'}" }

%div{class: wrapper_class}
  .btn-group.flex-wrap{role: "group"}
    = link_to "Last 90 days", path_for.(timeframe: '90_days'), class: btn_class.call(:'90_days')
    = link_to "Last Year", path_for.(timeframe: 'year'), class: btn_class.call(:year)
    = link_to "All-Time", path_for.(timeframe: 'all_time'), class: btn_class.call(:all_time)
    - if show_custom
      = link_to "Custom", path_for.(**{ timeframe: 'custom', from: custom_from, to: custom_to }.compact), class: btn_class.call(:custom)
  - if show_custom && timeframe == :custom
    = form_tag path_for.(), method: :get, class: "row g-2 align-items-end mt-3" do
      = hidden_field_tag :timeframe, 'custom'
      - form_hidden_fields.each do |name, value|
        - next if value.blank?
        = hidden_field_tag name, value
      .col-sm-auto
        = label_tag :from, "From", class: "form-label small mb-0 d-block"
        = date_field_tag :from, custom_from, class: "form-control form-control-sm", required: true
      .col-sm-auto
        = label_tag :to, "To", class: "form-label small mb-0 d-block"
        = date_field_tag :to, custom_to, class: "form-control form-control-sm", required: true
      .col-sm-auto
        = submit_tag "Apply range", class: "btn btn-sm btn-primary"
