- content_for :title, "Public MAAP - Abilities"

.mb-3
  = link_to organization_public_maap_path(@organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@organization.name} Public MAAP

%h1.mb-4 Public Abilities

- if current_person
  .mb-3
    = link_to organization_abilities_path(@organization), class: "text-muted text-decoration-none" do
      %i.bi.bi-lock.me-2
      View Authenticated Version

- if @abilities.any?
  - company = @organization.root_company || @organization
  - hierarchy = build_organization_hierarchy(company)
  
  .card.mb-4
    .card-header
      %h5.mb-0 Abilities by Organization
    .card-body
      / Show company-level abilities
      - company_abilities = @abilities_by_org[company] || []
      - if company_abilities.any?
        %h6.mb-3= company.name
        %ul.list-unstyled.ms-3
          - company_abilities.each do |ability|
            %li.mb-2
              = link_to ability.name, organization_public_maap_ability_path(@organization, ability), class: "text-decoration-none"
      
      / Show department-level abilities with indentation
      - hierarchy.each do |item|
        = render 'organization_hierarchy_item', item: item, abilities_by_org: @abilities_by_org, organization: @organization
- else
  .alert.alert-info
    %h6.mb-2
      %i.bi.bi-info-circle.me-2
      No Public Abilities Available
    %p.mb-0
      There are currently no public abilities available for this organization.

