.row.mb-3
  .col-12
    = form.label :story, class: 'form-label' do
      %h3 What was on display in this story?
.row.mb-3
  .col-1
    .single-page-wizard-step 4
  .col-11
    = render 'shared/section_header', 
        title: 'Assignments/Outcomes', 
        icon: 'bi-clipboard-check', 
        include_top_header_margin: false,
        description: 'Does this story include any noteworthy demonstrations of Assignments?'

    / Rateable sections
    - if assignments.any?
      .mb-3
        -# For unsaved observations, get assignments from built observation_ratings
        -# For persisted observations, use the association
        - assignment_ratings = observation.observation_ratings.select { |or_obj| or_obj.rateable_type == 'Assignment' }
        - if assignment_ratings.any?
          - assignment_ratings.each do |rating_obj|
            - assignment = rating_obj.rateable
            - next unless assignment.present?
            .card.mb-2
              .card-body
                .d-flex.justify-content-between.align-items-center
                  %div
                    .text-muted="This story is a..."
                    .mt-2
                    - current_rating = rating_obj.rating&.to_s || ''
                    = render 'organizations/observations/rating_button_group', 
                            rating_key: "assignment_#{assignment.id}", 
                            current_value: current_rating, 
                            rateable_type: 'Assignment', 
                            rateable_id: assignment.id
                    -# Include hidden fields for rateable_type and rateable_id
                    - if rating_obj.new_record? || rating_obj.id.nil?
                      = hidden_field_tag "observation[observation_ratings_attributes][assignment_#{assignment.id}][rateable_type]", 'Assignment'
                      = hidden_field_tag "observation[observation_ratings_attributes][assignment_#{assignment.id}][rateable_id]", assignment.id
                    - else
                      = hidden_field_tag "observation[observation_ratings_attributes][assignment_#{assignment.id}][id]", rating_obj.id
                      = hidden_field_tag "observation[observation_ratings_attributes][assignment_#{assignment.id}][rateable_type]", 'Assignment'
                      = hidden_field_tag "observation[observation_ratings_attributes][assignment_#{assignment.id}][rateable_id]", assignment.id
                    %div
                      ="... #{observation.verb_for_type('Assignment')} of being #{indefinite_article(assignment.title)} "
                      %span.rateable-title="#{assignment.title}"
                      = link_to organization_assignment_path(observation.company, assignment), class: "ms-2", target: "_blank", title: "View assignment" do
                        %i.bi.bi-box-arrow-up-right
        = form.submit 'Add Assignments', 
                      class: 'btn btn-sm btn-outline-primary',
                      name: 'save_and_add_assignments',
                      value: 'Add Assignments',
                      onclick: "document.getElementById('form_method_field').value = 'patch'; return true;"

    = render 'shared/section_header', 
        title: 'Abilities; Skills, Knowledge, Behaviors', 
        icon: 'bi-clipboard-check', 
        description: 'Does this story include any noteworthy demonstrations of Abilities?'


    .mb-3
      - ability_ratings = observation.observation_ratings.select { |or_obj| or_obj.rateable_type == 'Ability' }
      - if ability_ratings.any?
        - ability_ratings.each do |rating_obj|
          - ability = rating_obj.rateable
          - next unless ability.present?
          .card.mb-2
            .card-body
              .d-flex.justify-content-between.align-items-center
                %div
                  .text-muted="This story is a..."
                  .mt-2
                    - current_rating = rating_obj.rating&.to_s || ''
                    = render 'organizations/observations/rating_button_group', 
                            rating_key: "ability_#{ability.id}", 
                            current_value: current_rating, 
                            rateable_type: 'Ability', 
                            rateable_id: ability.id
                    - if rating_obj.new_record? || rating_obj.id.nil?
                      = hidden_field_tag "observation[observation_ratings_attributes][ability_#{ability.id}][rateable_type]", 'Ability'
                      = hidden_field_tag "observation[observation_ratings_attributes][ability_#{ability.id}][rateable_id]", ability.id
                    - else
                      = hidden_field_tag "observation[observation_ratings_attributes][ability_#{ability.id}][id]", rating_obj.id
                      = hidden_field_tag "observation[observation_ratings_attributes][ability_#{ability.id}][rateable_type]", 'Ability'
                      = hidden_field_tag "observation[observation_ratings_attributes][ability_#{ability.id}][rateable_id]", ability.id
                    %div
                      ="... #{observation.verb_for_type('Ability')} of "
                      %span.rateable-title="#{ability.name}"
                      = link_to organization_ability_path(observation.company, ability), class: "ms-2", target: "_blank", title: "View ability" do
                        %i.bi.bi-box-arrow-up-right
                      

      = form.submit 'Add Abilities',
                    class: 'btn btn-sm btn-outline-primary',
                    name: 'save_and_add_abilities',
                    value: 'Add Abilities',
                    onclick: "document.getElementById('form_method_field').value = 'patch'; return true;"


    = render 'shared/section_header', 
        title: 'Aspirational Values', 
        icon: 'bi-clipboard-check', 
        description: 'Does this story include any noteworthy demonstrations of Values?'

    .mb-3
      - aspiration_ratings = observation.observation_ratings.select { |or_obj| or_obj.rateable_type == 'Aspiration' }
      - if aspiration_ratings.any?
        - aspiration_ratings.each do |rating_obj|
          - aspiration = rating_obj.rateable
          - next unless aspiration.present?
          .card.mb-2
            .card-body
              .d-flex.justify-content-between.align-items-center
                %div
                  .text-muted="This story is a..."
                  .mt-2
                    - current_rating = rating_obj.rating&.to_s || ''
                    = render 'organizations/observations/rating_button_group', 
                            rating_key: "aspiration_#{aspiration.id}", 
                            current_value: current_rating, 
                            rateable_type: 'Aspiration', 
                            rateable_id: aspiration.id
                    - if rating_obj.new_record? || rating_obj.id.nil?
                      = hidden_field_tag "observation[observation_ratings_attributes][aspiration_#{aspiration.id}][rateable_type]", 'Aspiration'
                      = hidden_field_tag "observation[observation_ratings_attributes][aspiration_#{aspiration.id}][rateable_id]", aspiration.id
                    - else
                      = hidden_field_tag "observation[observation_ratings_attributes][aspiration_#{aspiration.id}][id]", rating_obj.id
                      = hidden_field_tag "observation[observation_ratings_attributes][aspiration_#{aspiration.id}][rateable_type]", 'Aspiration'
                      = hidden_field_tag "observation[observation_ratings_attributes][aspiration_#{aspiration.id}][rateable_id]", aspiration.id
                    %div
                      ="... #{observation.verb_for_type('Aspiration')} of "
                      %span.rateable-title="#{aspiration.name}"
                      = link_to organization_aspiration_path(observation.company, aspiration), class: "ms-2", target: "_blank", title: "View aspirational value" do
                        %i.bi.bi-box-arrow-up-right

      = form.submit 'Add Aspirations',
                    class: 'btn btn-sm btn-outline-primary',
                    name: 'save_and_add_aspirations',
                    value: 'Add Aspirations',
                    onclick: "document.getElementById('form_method_field').value = 'patch'; return true;"

