.mb-3
  = link_to organization_public_maap_path(@organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@organization.name} Public MAAP

%h1.mb-4 Public Assignments

- if current_person
  .mb-3
    = link_to organization_assignments_path(@organization), class: "text-muted text-decoration-none" do
      %i.bi.bi-lock.me-2
      View Authenticated Version

- if @assignments.any?
  - company = @organization.root_company || @organization
  - departments_with_assignments = @assignments_by_department.keys.compact.sort_by { |dept| department_hierarchy_display(dept) }
  - assignments_without_department = @assignments_by_department[nil] || []
  
  .card.mb-4
    .card-header
      %h5.mb-0 Assignments by Department
    .card-body
      - if departments_with_assignments.any?
        - departments_with_assignments.each do |department|
          - department_assignments = @assignments_by_department[department] || []
          - if department_assignments.any?
            %h6.mb-3
              = link_to department_hierarchy_display(department), organization_public_maap_department_path(@organization, department), class: "text-decoration-none"
            %ul.list-unstyled.ms-3
              - department_assignments.each do |assignment|
                %li.mb-2
                  = link_to assignment.title, organization_public_maap_assignment_path(@organization, assignment), class: "text-decoration-none"
      
      - if assignments_without_department.any?
        %h6.mb-3 No Department
        %ul.list-unstyled.ms-3
          - assignments_without_department.each do |assignment|
            %li.mb-2
              = link_to assignment.title, organization_public_maap_assignment_path(@organization, assignment), class: "text-decoration-none"
- else
  .alert.alert-info
    %h6.mb-2
      %i.bi.bi-info-circle.me-2
      No Public Assignments Available
    %p.mb-0
      There are currently no public assignments available for this organization.

