- check_in_changes.each do |field, new_value|
  %tr
    %td= field.to_s.humanize
    %td
      - case field
      - when :actual_energy_percentage
        = "#{current_check_in&.actual_energy_percentage || 0}%"
      - when :employee_rating
        = current_check_in&.employee_rating || 'Not set'
      - when :employee_personal_alignment
        = current_check_in&.employee_personal_alignment || 'Not set'
      - when :employee_private_notes
        = current_check_in&.employee_private_notes&.truncate(50) || 'Not set'
      - when :manager_rating
        = current_check_in&.manager_rating || 'Not set'
      - when :manager_private_notes
        = current_check_in&.manager_private_notes&.truncate(50) || 'Not set'
    %td
      - case field
      - when :actual_energy_percentage
        = "#{new_value}%"
      - when :employee_private_notes, :manager_private_notes
        = new_value&.truncate(50) || 'Not set'
      - else
        = new_value || 'Not set'
