- tenure_changes.each do |field, new_value|
  %tr
    %td= field.to_s.humanize
    %td
      - case field
      - when :anticipated_energy_percentage
        = "#{tenure&.anticipated_energy_percentage || 0}%"
    %td
      - case field
      - when :anticipated_energy_percentage
        = "#{new_value}%"
