-# Abilities Table View
- main_form ||= nil
- ability_goal_counts_by_id = local_assigns[:ability_goal_counts_by_id] || {}
- if relevant_abilities&.any?
  .table-responsive
    %table.table.table-striped{data: {abilities_table: true}}
      %thead
        %tr
          %th Ability
          %th Why It's Relevant
          %th When Milestones Achieved
          %th Goals
          %th Observations
      %tbody
        - relevant_abilities.each do |ability_data|
          - ability = ability_data[:ability]
          - milestone_attainments = ability_data[:milestone_attainments]
          - assignment_requirements = ability_data[:assignment_requirements]
          - position_requirements = ability_data[:position_requirements] || []
          %tr
            %td
              - begin
                - if policy(ability).show?
                  = link_to organization_ability_path(@organization, ability), class: "text-decoration-none" do
                    = ability.name
                - else
                  = ability.name
              - rescue
                = ability.name
            %td
              - relevance_items = []
              - milestone_attainments.each do |milestone|
                - relevance_items << "You have Milestone #{milestone.milestone_level}"
              - assignment_requirements.each do |assignment_ability|
                - assignment = assignment_ability.assignment
                - relevance_items << "You need Milestone #{assignment_ability.milestone_level} for #{assignment.title}"
              - position_requirements.each do |position_ability|
                - relevance_items << "You need Milestone #{position_ability.milestone_level} for this position"
              - if relevance_items.any?
                %ul.mb-0.pl-3{style: "list-style: disc;"}
                  - relevance_items.each do |item|
                    %li= item
              - else
                %span.text-muted None
            %td
              - if milestone_attainments.any?
                %ul.mb-0.pl-3{style: "list-style: disc;"}
                  - milestone_attainments.each do |milestone|
                    %li
                      Milestone #{milestone.milestone_level}: #{milestone.attained_at.strftime('%B %d, %Y')}
              - else
                %span.text-muted None
            %td
              = render "ability_goal_counts",
                       ability: ability,
                       ability_goal_counts_by_id: ability_goal_counts_by_id
            %td
              = render "ability_observations_actions",
                       ability: ability,
                       main_form: main_form,
                       person: person,
                       teammate: local_assigns[:teammate]
- else
  .alert.alert-info{data: {abilities_empty_state: true}}
    %i.bi.bi-info-circle.me-2
    No relevant abilities found


