-# Aspiration Check-Ins Table View - Readonly Show Open Fields
%td{style: "display: none;"}
  = render 'organizations/company_teammates/check_ins/form_fields/aspiration_id_field', form: form, check_in: check_in
%td
  = render 'organizations/company_teammates/check_ins/form_fields/aspiration_employee_rating_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  = render 'organizations/company_teammates/check_ins/form_fields/aspiration_employee_private_notes_field', form: form, main_form: main_form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  = render 'organizations/company_teammates/check_ins/form_fields/aspiration_manager_rating_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  = render 'organizations/company_teammates/check_ins/form_fields/aspiration_manager_private_notes_field', form: form, main_form: main_form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  = render 'organizations/company_teammates/check_ins/form_fields/aspiration_status_field', form: form, check_in: check_in

