-# Assignment Check-Ins Table View with Interactive Forms
- if assignment_check_ins&.any?
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Assignment
          %th{style: "display: none;"} ID
          - if view_mode == :employee
            %th Employee Rating
            %th Energy %
            %th Alignment
            %th Employee Notes
            %th Manager Status
            %th Status
          - elsif view_mode == :manager
            %th Manager Rating
            %th Manager Notes
            %th Employee Status
            %th Status
          - else
            %th Employee Rating
            %th Energy %
            %th Alignment
            %th Employee Notes
            %th Manager Rating
            %th Manager Notes
            %th Status
      %tbody
        - assignment_check_ins.each do |check_in|
          -# Determine which partial to render based on CheckInBehavior methods
          - display_mode = check_in.viewer_display_mode(view_mode)
          - partial_name = "assignment_check_ins_table_#{view_mode}_#{display_mode}"
          
          = form.fields_for :assignment_check_ins, check_in, index: check_in.id do |af|
            %tr{data: {check_in_id: check_in.id}}
              %td
                = button_tag type: "submit", 
                             name: "redirect_to", 
                             value: organization_teammate_assignment_path(@organization, check_in.teammate, check_in.assignment),
                             "data-bs-toggle" => "popover", 
                             "data-bs-trigger" => "hover", 
                             "data-bs-placement" => "right", 
                             "data-bs-html" => "true", 
                             "data-bs-content" => latest_assignment_check_in_popover_content(check_in.teammate, check_in.assignment),
                             class: "btn btn-link text-decoration-none p-0 border-0 bg-transparent text-start" do
                  = check_in.assignment.title
                  %i.bi.bi-clock-history.ms-1.text-muted
              = render partial_name, check_in: check_in, form: af, view_mode: view_mode
- else
  .alert.alert-info
    %i.bi.bi-info-circle.me-2
    No assignments available to do a check-in on
    .mt-2
      = link_to assignment_selection_organization_company_teammate_path(organization, @teammate), class: "btn btn-outline-primary btn-sm" do
        %i.bi.bi-plus-circle.me-1
        Select Assignments
