-# Assignment Check-Ins Table View - Readonly Show Open Fields
- hide_fresh_fields = hide_fresh_open_check_in_fields?(check_in, local_assigns[:latest_finalized], view_mode: :readonly)
- early_toggle_target = ".fresh-assignment-early-#{check_in.id}"
%td{style: "display: none;"}
  = render 'organizations/company_teammates/check_ins/form_fields/assignment_id_field', form: form, check_in: check_in
%td
  - if hide_fresh_fields
    .alert.alert-success.py-2.mb-0.small
      Fresh check-in.
      %a{href: "#", "data-bs-toggle" => "collapse", "data-bs-target" => early_toggle_target, "aria-expanded" => "false"} New Check-in early!
    %div{class: "collapse fresh-assignment-early-#{check_in.id}"}
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_employee_rating_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
  - else
    = render 'organizations/company_teammates/check_ins/form_fields/assignment_employee_rating_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  - if hide_fresh_fields
    .alert.alert-success.py-2.mb-0.small
      Fresh check-in.
      %a{href: "#", "data-bs-toggle" => "collapse", "data-bs-target" => early_toggle_target, "aria-expanded" => "false"} New Check-in early!
    %div{class: "collapse fresh-assignment-early-#{check_in.id}"}
      .d-flex.flex-column.gap-1
        = render 'organizations/company_teammates/check_ins/form_fields/assignment_actual_energy_percentage_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
        = render 'organizations/company_teammates/check_ins/form_fields/assignment_employee_personal_alignment_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
  - else
    .d-flex.flex-column.gap-1
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_actual_energy_percentage_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_employee_personal_alignment_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  - if hide_fresh_fields
    .alert.alert-success.py-2.mb-0.small
      Fresh check-in.
      %a{href: "#", "data-bs-toggle" => "collapse", "data-bs-target" => early_toggle_target, "aria-expanded" => "false"} New Check-in early!
    %div{class: "collapse fresh-assignment-early-#{check_in.id}"}
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_employee_private_notes_field', form: form, main_form: main_form, check_in: check_in, css_class: 'form-control form-control-sm'
  - else
    = render 'organizations/company_teammates/check_ins/form_fields/assignment_employee_private_notes_field', form: form, main_form: main_form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  - if hide_fresh_fields
    .alert.alert-success.py-2.mb-0.small
      Fresh check-in.
      %a{href: "#", "data-bs-toggle" => "collapse", "data-bs-target" => early_toggle_target, "aria-expanded" => "false"} New Check-in early!
    %div{class: "collapse fresh-assignment-early-#{check_in.id}"}
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_manager_rating_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
  - else
    = render 'organizations/company_teammates/check_ins/form_fields/assignment_manager_rating_field', form: form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  - if hide_fresh_fields
    .alert.alert-success.py-2.mb-0.small
      Fresh check-in.
      %a{href: "#", "data-bs-toggle" => "collapse", "data-bs-target" => early_toggle_target, "aria-expanded" => "false"} New Check-in early!
    %div{class: "collapse fresh-assignment-early-#{check_in.id}"}
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_manager_private_notes_field', form: form, main_form: main_form, check_in: check_in, css_class: 'form-control form-control-sm'
  - else
    = render 'organizations/company_teammates/check_ins/form_fields/assignment_manager_private_notes_field', form: form, main_form: main_form, check_in: check_in, css_class: 'form-control form-control-sm'
%td
  - if hide_fresh_fields
    .alert.alert-success.py-2.mb-0.small
      Fresh check-in.
      %a{href: "#", "data-bs-toggle" => "collapse", "data-bs-target" => early_toggle_target, "aria-expanded" => "false"} New Check-in early!
    %div{class: "collapse fresh-assignment-early-#{check_in.id}"}
      = render 'organizations/company_teammates/check_ins/form_fields/assignment_status_field', form: form, check_in: check_in, latest_finalized: local_assigns[:latest_finalized], view_mode: local_assigns[:view_mode]
  - else
    = render 'organizations/company_teammates/check_ins/form_fields/assignment_status_field', form: form, check_in: check_in, latest_finalized: local_assigns[:latest_finalized], view_mode: local_assigns[:view_mode]

