= form.fields_for :position_check_in, check_in do |pf|
  - if view_mode == :employee
    .form-group
      = pf.label :employee_rating, "Where do you feel you stand?"
      = render 'organizations/check_ins/form_fields/employee_rating_field', form: pf, check_in: check_in, css_class: 'form-control'
    
    .form-group
      = pf.label :employee_private_notes, "Your private notes"
      = render 'organizations/check_ins/form_fields/employee_private_notes_field', form: pf, check_in: check_in, css_class: 'form-control'
    
    .form-group
      %label Status
      = render 'organizations/check_ins/form_fields/position_status_field', form: pf, check_in: check_in
    
    - if check_in.manager_completed?
      .alert.alert-info.mt-2
        ✅ Manager has completed their assessment
  
  - elsif view_mode == :manager
    - if check_in.employee_completed?
      .alert.alert-info
        ✅ #{@person.first_name} has completed their perspective (hidden until you complete yours)
    
    .form-group
      = pf.label :manager_rating, "Where do you think #{@person.first_name} stands?"
      = render 'organizations/check_ins/form_fields/manager_rating_field', form: pf, check_in: check_in, css_class: 'form-control'
    
    .form-group
      = pf.label :manager_private_notes, "Your private notes"
      = render 'organizations/check_ins/form_fields/manager_private_notes_field', form: pf, check_in: check_in, css_class: 'form-control'
    
    .form-group
      %label Status
      = render 'organizations/check_ins/form_fields/position_status_field', form: pf, check_in: check_in
