- content_for :title, "Customize View"

- content_for :header do
  Customize Abilities View
- content_for :return_url do
  = @return_url || organization_abilities_path(@organization)
- content_for :return_text do
  = @return_text || 'Back to Abilities'

= form_with url: update_view_organization_abilities_path(@organization), method: :patch, local: true do |form|
  .row
    .col-md-4
      .mb-4
        %h2 Select What Abilities You See
    
    .col-md-8
      / Filters Section
      .card.mb-4
        .card-body
          %label.form-label.fw-bold Select What Abilities You See
          
          .mb-3
            %label.form-label Name
            = text_field_tag 'name', @current_filters[:name], class: 'form-control', placeholder: 'Search by name'
          
          .mb-3
            %label.form-label Milestone Status
            .form-check
              = check_box_tag 'milestone_status[]', 'with_milestones', @current_filters[:milestone_status]&.include?('with_milestones'), class: 'form-check-input', id: 'milestone_status_with'
              = label_tag 'milestone_status_with', 'With Milestones', class: 'form-check-label'
            .form-check
              = check_box_tag 'milestone_status[]', 'without_milestones', @current_filters[:milestone_status]&.include?('without_milestones'), class: 'form-check-input', id: 'milestone_status_without'
              = label_tag 'milestone_status_without', 'Without Milestones', class: 'form-check-label'
            .form-check
              = check_box_tag 'milestone_status[]', 'high_activity', @current_filters[:milestone_status]&.include?('high_activity'), class: 'form-check-input', id: 'milestone_status_high'
              = label_tag 'milestone_status_high', 'High Activity', class: 'form-check-label'
          
          .mb-3
            %label.form-label Major Version
            - major_version_options = [['All Versions', '']] + (0..10).map { |v| ["v#{v}.x.x", v] }
            = select_tag 'major_version', options_for_select(major_version_options, @current_filters[:major_version]), class: 'form-select'

  .row
    .col-md-4
      .mb-4
        %h2 Select What Order You See Them In
    
    .col-md-8
      / Sort Section
      .card.mb-4
        .card-body
          %label.form-label.fw-bold Select What Order You See Them In
          .mb-3
            %label.form-label Sort By
            - sort_options = [['Name (A-Z)', 'name'], ['Most Milestones', 'milestones'], ['Fewest Milestones', 'milestones_desc'], ['Created Date (Newest)', 'created_at'], ['Created Date (Oldest)', 'created_at_asc'], ['Version', 'version']]
            = select_tag 'sort', options_for_select(sort_options, @current_sort), class: 'form-select', id: 'sort_select'
          .mb-3
            %label.form-label Direction
            - direction_options = [['Ascending', 'asc'], ['Descending', 'desc']]
            = select_tag 'direction', options_for_select(direction_options, @current_filters[:direction] || 'asc'), class: 'form-select', id: 'direction_select'

  .row
    .col-md-4
      .mb-4
        %h2 Select How They Appear
    
    .col-md-8
      / View Style Section
      .card.mb-4
        .card-body
          %label.form-label.fw-bold Select How They Appear
          .form-check
            = radio_button_tag 'view', 'table', @current_view == 'table', class: 'form-check-input', id: 'view_table'
            = label_tag 'view_table', class: 'form-check-label' do
              %i.bi.bi-table.me-2
              Table View
          .form-check
            = radio_button_tag 'view', 'cards', @current_view == 'cards', class: 'form-check-input', id: 'view_cards'
            = label_tag 'view_cards', class: 'form-check-label' do
              %i.bi.bi-grid.me-2
              Card View
          .form-check
            = radio_button_tag 'view', 'list', @current_view == 'list', class: 'form-check-input', id: 'view_list'
            = label_tag 'view_list', class: 'form-check-label' do
              %i.bi.bi-list.me-2
              List View

  .row
    .col-md-4
      .mb-4
        %h2 Select the Spotlight for Them
    
    .col-md-8
      / Spotlight Section
      .card.mb-4
        .card-body
          %label.form-label.fw-bold Select the Spotlight for Them
          .form-check
            = radio_button_tag 'spotlight', 'ability_overview', (@current_spotlight.blank? || @current_spotlight == 'ability_overview'), class: 'form-check-input', id: 'spotlight_ability_overview'
            = label_tag 'spotlight_ability_overview', 'Ability Overview', class: 'form-check-label'
          .form-check
            = radio_button_tag 'spotlight', 'most_popular', @current_spotlight == 'most_popular', class: 'form-check-input', id: 'spotlight_most_popular'
            = label_tag 'spotlight_most_popular', 'Most Popular Abilities', class: 'form-check-label'
          .form-check
            = radio_button_tag 'spotlight', 'recently_created', @current_spotlight == 'recently_created', class: 'form-check-input', id: 'spotlight_recently_created'
            = label_tag 'spotlight_recently_created', 'Recently Created', class: 'form-check-label'
          .form-check
            = radio_button_tag 'spotlight', 'high_activity', @current_spotlight == 'high_activity', class: 'form-check-input', id: 'spotlight_high_activity'
            = label_tag 'spotlight_high_activity', 'High Activity', class: 'form-check-label'
          .form-check
            = radio_button_tag 'spotlight', 'none', @current_spotlight == 'none', class: 'form-check-input', id: 'spotlight_none'
            = label_tag 'spotlight_none', 'No Spotlight', class: 'form-check-label'

  .row
    .col-12
      / Form Actions
      .d-flex.gap-2.mt-4.mb-4
        = form.submit 'Apply View', class: 'btn btn-primary'
        = link_to 'Cancel', @return_url || organization_abilities_path(@organization), class: 'btn btn-outline-secondary'

