- content_for :header do
  = render 'shared/header', 
    header_name: content_tag(:i, '', class: 'bi bi-lightning me-2') + "Edit #{@ability.name}"

- content_for :go_back_link do
  = link_to organization_ability_path(@organization, @ability), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@ability.name}

- content_for :header_action do
  = render 'mode_switcher'

.card
  .card-header
    %h5.mb-0
      %i.bi.bi-lightning.me-2
      Edit #{@ability.name}
  .card-body
    = render 'form', form_url: organization_ability_path(@organization, @form.model), submit_button_text: "Update Ability", cancel_path: organization_ability_path(@organization, @ability), version_section_title: @ability_decorator.version_section_title_for_context, version_section_description: @ability_decorator.version_section_description_for_context, version_options: @ability_decorator.edit_version_options


