- content_for :header do
  = render 'shared/header', 
    header_name: content_tag(:i, '', class: 'bi bi-lightning me-2') + @ability.name,
    header_quick_action_url: edit_organization_ability_path(@organization, @ability),
    header_quick_action_content: content_tag(:i, '', class: 'bi bi-pencil me-2'),
    header_quick_action_is_enabled: policy(@ability).update?,
    header_quick_action_disabled_tooltip: "You need MAAP management permissions for this organization to edit abilities"
      
- content_for :go_back_link do
  = link_to organization_abilities_path(@organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Abilities

- content_for :header_action do
  = render 'mode_switcher'

.row
  .col-md-8
    .card.mb-4{ role: "region", "aria-labelledby": "ability-details" }
      .card-header
        %h5.mb-0{ id: "ability-details" }
          %i.bi.bi-info-circle.me-2
          Ability Details
      .card-body
        %dl.row
          %dt.col-sm-3 Name:
          %dd.col-sm-9= @ability.name
          %dt.col-sm-3 Description:
          %dd.col-sm-9
            - if @ability.description.present?
              = render_markdown(@ability.description)
            - else
              %em.text-muted No description provided
          %dt.col-sm-3 Version:
          %dd.col-sm-9
            %span.badge.bg-primary= @ability.semantic_version
          %dt.col-sm-3 Department:
          %dd.col-sm-9= @ability.organization.display_name
          %dt.col-sm-3 Created:
          %dd.col-sm-9= @ability.created_at.strftime("%B %d, %Y at %I:%M %p")
          %dt.col-sm-3 Updated:
          %dd.col-sm-9= @ability.updated_at.strftime("%B %d, %Y at %I:%M %p")

    .card.mb-4{ role: "region", "aria-labelledby": "milestone-descriptions" }
      .card-header
        %h5.mb-0{ id: "milestone-descriptions" }
          %i.bi.bi-list-ol.me-2
          Milestone Descriptions
      .card-body
        - (1..5).each do |level|
          - description = @ability.send("milestone_#{level}_description")
          - if description.present?
            .mb-3
              %h6.text-primary Milestone #{level}
              = render_markdown(description)
        - if (1..5).all? { |level| @ability.send("milestone_#{level}_description").blank? }
          %em.text-muted No milestone descriptions provided

  .col-md-4
    .card.mb-4
      .card-header
        %h6.mb-0
          %i.bi.bi-star.me-2
          Spotlight
      .card-body
        .mb-3
          %h6.text-muted.small.mb-2 Analytics
          .d-flex.justify-content-between
            %span Version:
            %strong= @ability.semantic_version
          .d-flex.justify-content-between
            %span Department:
            %strong= @ability.organization.display_name
          .d-flex.justify-content-between
            %span Created:
            %strong= @ability.created_at.strftime("%b %d, %Y")
          .d-flex.justify-content-between
            %span Required by:
            %strong= @ability.required_by_assignments_count
            %small.text-muted assignments
          .d-flex.justify-content-between
            %span People with milestones:
            %strong= @ability.person_attainments_count
            %small.text-muted people
        
        .mb-3
          %h6.text-muted.small.mb-2 Interesting Tidbits
          - if @ability.description.present?
            %p.small
              %i.bi.bi-check-circle.text-success.me-1
              Has detailed description
          - else
            %p.small
              %i.bi.bi-exclamation-circle.text-warning.me-1
              Missing description
          
          - milestone_count = (1..5).count { |level| @ability.send("milestone_#{level}_description").present? }
          %p.small
            %i.bi.bi-list-ol.text-info.me-1
            #{milestone_count} of 5 milestones defined
          
          - if @ability.is_required_by_assignments?
            %p.small
              %i.bi.bi-clipboard-check.text-primary.me-1
              Required by #{@ability.required_by_assignments_count} assignment#{'s' if @ability.required_by_assignments_count != 1}
          - else
            %p.small
              %i.bi.bi-clipboard.text-muted.me-1
              Not required by any assignments
          
          - if @ability.has_person_attainments?
            %p.small
              %i.bi.bi-people.text-success.me-1
              #{@ability.person_attainments_count} person#{'s' if @ability.person_attainments_count != 1} have milestone#{'s' if @ability.person_attainments_count != 1}
          - else
            %p.small
              %i.bi.bi-person.text-muted.me-1
              No milestone attainments yet


