- content_for :header do
  %h1.mb-0 Finalize Check-Ins for #{@person.display_name}
        
- content_for :header_action do
  = render 'people/view_switcher'

- content_for :go_back_link do
  = link_to organization_person_check_ins_path(@organization, @person), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Check-Ins

= form_with url: organization_person_finalization_path(@organization, @person), method: :post, local: true do |f|
  
  -# Position Section
  = render 'shared/section_header', 
           title: 'Position/Overall', 
           icon: 'bi-briefcase', 
           description: 'Set official position rating'
  
  = render 'organizations/finalizations/position_finalization_table', form: f, view_mode: @view_mode
  
  -# Assignment Section
  = render 'shared/section_header', 
           title: 'Assignments/Outcomes', 
           icon: 'bi-clipboard-check', 
           description: 'Finalize individual assignment ratings and energy'
  
  = render 'organizations/finalizations/assignment_finalization_table', form: f, view_mode: @view_mode
  
  -# Aspiration Section
  = render 'shared/section_header', 
           title: 'Aspirations/Values', 
           icon: 'bi-star', 
           description: 'Set official aspiration ratings'
  
  = render 'organizations/finalizations/aspiration_finalization_table', form: f, view_mode: @view_mode
  
  -# Finalization button section
  - if @ready_position_check_in || @ready_assignment_check_ins&.any? || @ready_aspiration_check_ins&.any?
    .row.mt-4
      .col-12
        - if @view_mode == :manager
          .alert.alert-warning
            %strong ⚠️ This will:
            %ul
              %li Create MAAP snapshot with complete ratings
              %li Close selected tenures and open new ones
              %li Make all notes visible to #{@person.first_name}
              %li Send notification to #{@person.first_name}
          
          = f.submit 'Finalize Selected Check-Ins', class: 'btn btn-success btn-lg',
                     data: { confirm: 'Are you sure you want to finalize these check-ins?' }
        - else
          .alert.alert-info
            %i.bi.bi-info-circle.me-2
            %strong
              %i.bi.bi-exclamation-triangle.me-2
              Your manager will finalize these check-ins. You can view the status below.
          
          = f.submit 'Finalize Selected Check-Ins', class: 'btn btn-success btn-lg', disabled: true
  - else
    .row.mt-4
      .col-12
        .alert.alert-info
          %i.bi.bi-info-circle.me-2
          %strong No check-ins are ready for finalization at this time.