- content_for :title, "Public MAAP - #{@position.display_name}"

%h1.mb-4= @position.display_name

.mb-3
  = link_to organization_public_maap_positions_path(@organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Positions
  - if current_person
    %span.text-muted.mx-2 |
    = link_to "View Authenticated Version", organization_position_path(@organization, @position), class: "text-muted text-decoration-none"

= render 'organizations/positions/job_description_summary', position: @position

= render 'organizations/positions/job_description_required_assignments', position: @position, organization: @position.company, public_view: true

= render 'organizations/positions/job_description_suggested_assignments', position: @position, organization: @position.company, public_view: true

= render 'organizations/positions/job_description_no_assignments', position: @position

= render 'organizations/positions/job_description_footer'


