- content_for :title, "Public MAAP - #{@aspiration.name}"

%h1.mb-4= @aspiration.name

.mb-3
  = link_to organization_public_maap_aspirations_path(@organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Aspirations
  - if current_person
    %span.text-muted.mx-2 |
    = link_to "View Authenticated Version", organization_aspiration_path(@organization, @aspiration), class: "text-muted text-decoration-none"

.row
  .col-md-8
    .card.mb-4
      .card-header
        %h5.mb-0 Aspiration Details
      .card-body
        %dl.row
          %dt.col-sm-3 Name:
          %dd.col-sm-9= @aspiration.name
          %dt.col-sm-3 Description:
          %dd.col-sm-9
            - if @aspiration.description.present?
              = @aspiration.description
            - else
              %em.text-muted No description provided
          %dt.col-sm-3 Department:
          %dd.col-sm-9
            - if @aspiration.department.present?
              = department_hierarchy_links(@aspiration.department, @organization, public: true)
            - else
              = @aspiration.company.display_name

    - if @observations.any?
      .card.mb-4
        .card-header
          %h5.mb-0
            %i.bi.bi-star.me-2
            Public Observations
        .card-body
          - @observations.each do |observation|
            .card.mb-3
              .card-body
                %p.mb-2= observation.decorate.story_html.html_safe
                .d-flex.justify-content-between.align-items-center
                  .small.text-muted
From: #{observation.observer.casual_name}
                      - if observation.observed_teammates.any?
                        |  • Recognizing: 
                        - names = observation.observed_teammates.map { |t| t.person.casual_name }
                      = names.join(', ')
                  = link_to "View Observation", organization_kudo_path(observation.company, date: format_date_in_user_timezone(observation.observed_at, format: '%Y-%m-%d'), id: observation.id), class: "btn btn-sm btn-outline-primary"

  .col-md-4
    - if current_person
      .card.mb-4
        .card-header
          %h6.mb-0 Quick Actions
        .card-body
          = link_to "View Authenticated Version", organization_aspiration_path(@organization, @aspiration), class: "btn btn-outline-primary btn-sm w-100"


