- page_help_id = "positionAbilityMilestonesPageHelp"

- content_for :title, "Direct Milestone Requirements - #{@position.display_name}"

- content_for :header do
  .d-flex.flex-wrap.align-items-center.gap-2
    %h1.mb-0
      %i.bi.bi-link-45deg.me-2
      #{@position.display_name} - Direct Milestone Requirements
    = render "shared/page_help/header_info_button",
             collapse_id: page_help_id,
             tooltip: "Set direct Ability Milestone requirements for this position. Click for details."

- content_for :header_action do
  = render 'view_switcher'

- content_for :go_back_link do
  = nav_hierarchy_with_previous(organization: @organization, crumbs: [{ label: @position.display_name, url: organization_position_path(@organization, @position) }, { label: "Ability milestones", url: nil }])

.collapse.mb-4{id: page_help_id}
  = render "shared/ability_milestones/page_help",
           subject_name: @position.display_name,
           subject_kind: :position

= form_with model: @form, url: organization_position_ability_milestones_path(@organization, @position), method: :patch, local: true do |f|
  .row.justify-content-center
    .col-lg-10
      = render "shared/ability_milestones/form_sections",
        subject_name: @position.display_name,
        form_param_prefix: "position_ability_milestones_form[ability_milestones]",
        associated_abilities: @associated_abilities,
        available_abilities: @available_abilities,
        existing_associations: @existing_associations,
        can_update: policy(@position).update?,
        save_label: "Save Direct Milestone Requirements",
        disabled_tooltip: "You need position management permissions to update direct milestone requirements"

- if @form.errors.any?
  .row.justify-content-center
    .col-lg-10
      .alert.alert-danger
        %h6
          %i.bi.bi-exclamation-triangle.me-2
          Please fix the following errors:
        %ul.mb-0
          - @form.errors.full_messages.each do |message|
            %li= message
