%tr
  %td{style: "padding-left: #{20 + (item[:level] * 20)}px;"}
    - if item[:level] > 0
      %i.bi.bi-arrow-return-right.me-2.text-muted
    = link_to organization_department_path(@organization, item[:organization]), class: "text-decoration-none" do
      %strong= item[:organization].name
  %td
    %span.badge.bg-primary
      = item[:organization].type
  %td
    - if item[:organization].parent
      = link_to organization_department_path(@organization, item[:organization].parent), class: "text-muted text-decoration-none" do
        = item[:organization].parent.name
    - else
      %span.text-muted= @organization.name
  %td
    .btn-group.btn-group-sm
      = link_to organization_department_path(@organization, item[:organization]), class: "btn btn-outline-primary" do
        %i.bi.bi-eye
      - if policy(item[:organization]).update?
        = link_to edit_organization_department_path(@organization, item[:organization]), class: "btn btn-outline-secondary" do
          %i.bi.bi-pencil
      - if policy(item[:organization]).archive?
        = link_to archive_organization_department_path(@organization, item[:organization]), method: :patch, class: "btn btn-outline-danger", data: { confirm: "Are you sure you want to archive this department?" } do
          %i.bi.bi-archive

- item[:children].each do |child_item|
  = render 'organizations/departments/hierarchy_row', item: child_item
