- content_for :title, "Edit Department"

- content_for :go_back_link do
  = link_to organization_department_path(@organization, @department), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@department.name}

- content_for :header do
  %h1.mb-0
    %i.bi.bi-pencil.me-2
    Edit Department

.row.justify-content-center
  .col-lg-8
    .card
      .card-body
        = form_with model: @department, url: organization_department_path(@organization, @department), local: true, method: :patch, scope: :department do |form|
          - if @department.errors.any?
            .alert.alert-danger
              %h5= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
              %ul.mb-0
                - @department.errors.full_messages.each do |message|
                  %li= message
          
          .mb-3
            = form.label :name, class: "form-label"
            = form.text_field :name, class: "form-control", required: true
          
          .mb-3
            = form.label :parent_department_id, "Parent Department", class: "form-label"
            = form.select :parent_department_id, options_from_collection_for_select(@available_parents, :id, :display_name, @department.parent_department_id), { include_blank: "None (Root Department)" }, { class: "form-select" }
            %small.form-text.text-muted Select the parent department, or leave blank to make this a root-level department.
          
          .d-flex.justify-content-between
            = link_to "Cancel", organization_department_path(@organization, @department), class: "btn btn-secondary"
            = form.submit "Update Department", class: "btn btn-primary"
