- content_for :title, "Edit Department"

- content_for :go_back_link do
  = link_to organization_department_path(@organization, @department), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@department.name}

- content_for :header do
  %h1.mb-0
    %i.bi.bi-pencil.me-2
    Edit Department

.row.justify-content-center
  .col-lg-8
    .card
      .card-body
        = form_with model: [@organization, @department], url: organization_department_path(@organization, @department), local: true, method: :patch do |form|
          - if @department.errors.any?
            .alert.alert-danger
              %h5= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
              %ul.mb-0
                - @department.errors.full_messages.each do |message|
                  %li= message
          
          .mb-3
            = form.label :name, class: "form-label"
            = form.text_field :name, class: "form-control", required: true
          
          = render 'shared/department_dropdown', 
            form: form, 
            organization: @organization, 
            field_name: :parent_id, 
            label_text: "Parent Organization", 
            selected_department_id: @department.parent_id,
            include_blank: false,
            include_root_option: true,
            exclude_ids: [@department.id] + @department.descendants.map(&:id),
            help_text: "Select the parent organization for this department. Choose the company name to place this department at the root level."
          
          .d-flex.justify-content-between
            = link_to "Cancel", organization_department_path(@organization, @department), class: "btn btn-secondary"
            = form.submit "Update Department", class: "btn btn-primary"

