- content_for :title, "Recent Milestones"

- content_for :go_back_link do
  = link_to organization_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to #{@organization.display_name}

- content_for :header do
  .d-flex.align-items-center
    %h1.mb-0.me-2
      %i.bi.bi-trophy.me-2
      Recent Milestones
    .d-flex.align-items-center
      = link_to new_organization_teammate_milestone_path(@organization), class: "btn btn-primary ml-2" do
        %i.bi.bi-plus.me-2
        Award Milestone

- content_for :header_action do
  = link_to customize_view_organization_teammate_milestones_path(@organization, params.except(:controller, :action, :page).permit!.to_h),
            class: "btn btn-outline-secondary" do
    %i.bi.bi-sliders.me-2
    Customize View

/ Spotlight Section
- if @current_spotlight && @current_spotlight != 'none'
  .row.justify-content-center.mb-4
    .col-lg-12
    .card.border-0.shadow-sm
      .card-body
        - case @current_spotlight
        - when 'overview'
          = render partial: 'organizations/teammate_milestones/customize_view/spotlights/overview'
        - when 'high_achievers'
          = render partial: 'organizations/teammate_milestones/customize_view/spotlights/high_achievers'
        - when 'level_5'
          = render partial: 'organizations/teammate_milestones/customize_view/spotlights/level_5'
        - when 'recent'
          = render partial: 'organizations/teammate_milestones/customize_view/spotlights/recent'
        - else
          = render partial: 'organizations/teammate_milestones/customize_view/spotlights/default'
      .card-footer.bg-light
        .row.align-items-center
          .col-md-6
            %small.text-muted
              %i.bi.bi-funnel.me-1
              Filters: 
              - if @current_filters
                - filter_parts = []
                - filter_parts << (@current_filters[:timeframe] || 'Last 90 Days')
                - filter_parts << (@current_filters[:ability].present? ? Ability.find(@current_filters[:ability]).name : 'All Abilities')
                - filter_parts << (@current_filters[:milestone_level].present? ? "Level #{@current_filters[:milestone_level]}" : 'All Levels')
                - filter_parts << (@current_filters[:privacy] == 'private' ? 'Private' : 'Published')
                = filter_parts.join(' / ')
              - else
                Last 90 Days / All Abilities / All Levels / Published
              %br
              %i.bi.bi-sort-down.me-1
              Sort: #{@current_sort&.humanize || 'Most Recent'}
          .col-md-6.text-end
            %small.text-muted
              %i.bi.bi-table.me-1
              View: #{@current_view&.gsub('_', ' ')&.titleize || 'Wall Badge'}
              %br
              %i.bi.bi-eye.me-1
              Spotlight: #{@current_spotlight&.humanize || 'Overview'}

.row.justify-content-center
  - if @recent_milestones.any?
    - view_style = @current_view || 'wall_badge'
    
    - case view_style
    - when 'wall_trophy'
      = render partial: 'organizations/teammate_milestones/wall_trophy', locals: { milestones: @recent_milestones }
    - when 'wall_badge'
      = render partial: 'organizations/teammate_milestones/wall_badge', locals: { milestones: @recent_milestones }
    - when 'wall_confetti'
      = render partial: 'organizations/teammate_milestones/wall_confetti', locals: { milestones: @recent_milestones }
    - when 'wall'
      .col-12
        = render partial: 'organizations/teammate_milestones/wall_trophy', locals: { milestones: @recent_milestones }
    - when 'table'
      = render partial: 'organizations/teammate_milestones/table', locals: { milestones: @recent_milestones }
    - when 'cards'
      = render partial: 'organizations/teammate_milestones/cards', locals: { milestones: @recent_milestones }
    - when 'list'
      = render partial: 'organizations/teammate_milestones/list', locals: { milestones: @recent_milestones }
  - else
    .alert.alert-info
      %h6.mb-2
        %i.bi.bi-info-circle.me-2
        No Published Milestones
      %p.mb-2 
        No milestones have been published to the celebration page yet.
        Encourage your team to work toward their next ability milestones!
      - if policy(Ability).create?
        = link_to "Manage Abilities", organization_abilities_path(@organization), class: "btn btn-primary btn-sm"
      - else
        .d-flex.align-items-center
          .btn.btn-primary.btn-sm.disabled{style: "opacity: 0.6; cursor: not-allowed;"}
            Manage Abilities
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need ability management permissions for this organization to manage abilities"}
