- content_for :header do
  %h1.mb-0{id: "organization-title"}= @organization.display_name
  
- content_for :go_back_link do
  = link_to organizations_path, class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Organizations

.row.justify-content-center
  .col-lg-12
    = render 'organization_details', organization: @organization
.row.justify-content-center
  .col-lg-12
    = render 'organization_stats', organization: @organization, total_employees: @total_employees, total_potential_employees: @total_potential_employees, total_teams: @total_teams, total_departments: @total_departments
.row.justify-content-center
  .col-lg-12
    = render 'align_section', organization: @organization, total_positions: @total_positions, total_assignments: @total_assignments, total_seats: @total_seats
.row.justify-content-center
  .col-lg-12
    = render 'collaborate_section', organization: @organization, active_huddles_this_week: @active_huddles_this_week, total_participants_this_week: @total_participants_this_week, average_rating_this_week: @average_rating_this_week, total_huddles_all_time: @total_huddles_all_time, total_participants_all_time: @total_participants_all_time
.row.justify-content-center
  .col-lg-12
    = render 'transform_section', organization: @organization
