.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Organization
        %th Employment Status
        %th Position
        %th Permissions
        %th Employment Dates
        %th Actions
    %tbody
      - @filtered_and_paginated_teammates.each do |teammate|
        %tr
          %td
            = link_to teammate.person.display_name, internal_organization_company_teammate_path(@organization, teammate), class: "text-decoration-none fw-bold"
            %br
            %small.text-muted= teammate.person.email
          %td
            = teammate_organization_display(teammate)
          %td
            = employment_status_badge(teammate)
            %br
            = employment_status_progress_bar(teammate)
          %td
            = teammate_current_position(teammate)
          %td
            = teammate_permissions_badges(teammate)
          %td
            %small.text-muted= teammate_employment_dates(teammate)
          %td
            .btn-group.btn-group-sm
              = link_to internal_organization_company_teammate_path(@organization, teammate), class: "btn btn-outline-primary" do
                %i.bi.bi-eye
              - if policy(@organization).manage_employment?
                = link_to organization_company_teammate_check_ins_path(@organization, teammate), class: "btn btn-outline-secondary" do
                  %i.bi.bi-list-task
