- if @filtered_and_paginated_employee_health_data.any?
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Employee
          %th Position
          %th Assignments
          %th Aspirations
          %th Milestones
          %th Actions
      %tbody
        - @filtered_and_paginated_employee_health_data.each do |data|
          - person = data[:person]
          - teammate = data[:teammate]
          - health = data[:health]
          %tr
            %td
              = link_to person.display_name, organization_person_path(@organization, person), class: "text-decoration-none fw-bold"
              %br
              %small.text-muted= person.email
            
            / Position cell
            %td
              - position_health = health[:position]
              - cell_class = position_health_cell_class(position_health[:status])
              - icon_class = position_health_icon(position_health[:status])
              - tooltip_text = position_health_tooltip(position_health)
              .p-2.rounded{class: cell_class, "data-bs-toggle" => "tooltip", "data-bs-title" => tooltip_text}
                .d-flex.align-items-center
                  %i{class: "bi #{icon_class} me-2"}
                  %div
                    %div.fw-bold= position_health_status_text(position_health)
                    - if position_health[:open_check_in]
                      %small
                        - if position_health[:open_unacknowledged]
                          %span.text-muted (Unacknowledged)
                        - if position_health[:open_check_in_started_on]
                          Started: #{position_health[:open_check_in_started_on].strftime('%b %d, %Y')}
                    - if position_health[:last_rating_date] && position_health[:status] == :warning
                      %small
                        Last rated: #{position_health[:last_rating_date].strftime('%b %d, %Y')}
            
            / Assignments cell
            %td
              - assignment_health = health[:assignments]
              - cell_class = assignment_health_cell_class(assignment_health[:status])
              - tooltip_text = assignment_health_tooltip(assignment_health)
              .p-2.rounded{class: cell_class, "data-bs-toggle" => "tooltip", "data-bs-title" => tooltip_text}
                .fw-bold= assignment_health_display(assignment_health)
            
            / Aspirations cell
            %td
              - aspiration_health = health[:aspirations]
              - cell_class = aspiration_health_cell_class(aspiration_health[:status])
              - tooltip_text = aspiration_health_tooltip(aspiration_health)
              .p-2.rounded{class: cell_class, "data-bs-toggle" => "tooltip", "data-bs-title" => tooltip_text}
                .fw-bold= aspiration_health_display(aspiration_health)
            
            / Milestones cell
            %td
              - milestone_health = health[:milestones]
              - cell_class = milestone_health_cell_class(milestone_health[:status])
              - tooltip_text = milestone_health_tooltip(milestone_health)
              .p-2.rounded{class: cell_class, "data-bs-toggle" => "tooltip", "data-bs-title" => tooltip_text}
                .fw-bold= milestone_health_display(milestone_health)
            
            / Actions cell
            %td
              .btn-group.btn-group-sm
                = link_to organization_person_path(@organization, person), class: "btn btn-outline-primary" do
                  %i.bi.bi-eye
                = link_to organization_person_check_ins_path(@organization, person), class: "btn btn-outline-secondary" do
                  %i.bi.bi-clipboard-check
- else
  .alert.alert-info
    %h6.mb-2
      %i.bi.bi-info-circle.me-2
      No Active Employees Found
    %p.mb-2
      This organization doesn't have any active employees yet.

