!!!
%html
  %head
    = render partial: 'layouts/head_common', locals: { title_default: "OurGruuv" }

  %body
    = render partial: 'layouts/toast_container'

    .vertical-nav-top-bar
      .container-fluid.d-flex.justify-content-between.align-items-center
        .d-flex.align-items-center.header-brand-region
          - if current_person && current_organization
            - header_brand_path = current_company_teammate ? organization_header_brand_path(current_organization, current_company_teammate) : dashboard_organization_path(current_organization)
            = render 'layouts/header_organization_brand', brand_path: header_brand_path, link_classes: 'navbar-brand fw-bold text-decoration-none', on_dark_nav: false
          - else
            = link_to "OurGruuv", root_path, class: "navbar-brand fw-bold text-decoration-none"

        .d-flex.align-items-center.gap-3
          - if current_person
            - if current_organization
              = link_to organization_search_path(current_organization), class: "nav-link text-dark", title: "Search" do
                %i.bi.bi-search
            - if current_organization && current_company_teammate
              - pending_count = pending_get_shit_done_count(current_company_teammate)
              - if pending_count > 0
                = link_to organization_get_shit_done_path(current_organization), class: "badge bg-danger rounded-pill ms-2 text-decoration-none", title: "#{company_label_for('get_shit_done', 'Get Shit Done')} (#{pending_count} items)", style: "color: white;" do
                  = pending_count
            = render 'layouts/header_user_menu', as_nav_item: false, toggle_link_class: 'nav-link text-dark dropdown-toggle d-flex align-items-center gap-2 text-decoration-none', menu_class: 'dropdown-menu dropdown-menu-end', person_label: current_person.preferred_first_then_last_display_name, show_gsd_in_toggle: false

    .main-content-container
      .container.mt-4
        - if content_for?(:go_back_link)
          .row.mb-3
            .col-12
              = yield :go_back_link
        - if content_for?(:header)
          .row.mb-1
            .col-9
              .d-flex.justify-content-between.align-items-center
                .flex-grow-1
                  = yield :header
            .col-3.text-end
              - if content_for?(:header_action)
                .ms-3
                  = yield :header_action

        - if impersonating? && current_person
          .row.mb-3
            .col-12
              .alert.alert-warning.alert-dismissible.fade.show{role: "alert"}
                .d-flex.align-items-center
                  %i.bi.bi-exclamation-triangle.me-2
                  %strong.me-2 Impersonation Active
                  %span You are currently impersonating #{current_person.display_name}.
                  %small.text-muted.ms-2 All actions will be performed as this user.
                %button.btn-close{type: "button", "data-bs-dismiss": "alert", "aria-label": "Close"}
                .mt-2
                  = button_to impersonation_path(1), method: :delete, class: "btn btn-sm btn-outline-danger", form: { style: "display: inline;" } do
                    %i.bi.bi-person-x.me-1
                    Stop Impersonation

        = yield
      = yield :javascript
