!!!
%html
  %head
    = render partial: 'layouts/head_common', locals: { title_default: "Public MAAP - OurGruuv" }

  %body
    = render partial: 'layouts/toast_container'
    
    / Public MAAP Header
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container
        = link_to "Public MAAP", public_maap_path, class: "navbar-brand fw-bold"
        .navbar-nav.ms-auto
          - if current_person
            .nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: "#", role: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
                = current_person.full_name
              %ul.dropdown-menu
                - if current_organization
                  %li
                    = link_to "View Authenticated Version", organization_path(current_organization), class: "dropdown-item"
                %li
                  %hr.dropdown-divider
                %li= button_to "Logout", logout_path, method: :delete, class: "dropdown-item", form: { style: "display: inline;" }
          - else
            .nav-item
              = link_to "Login", login_path, class: "nav-link"
    
    / Main Content Container with Structured Areas
    .container.mt-4
      / Header Area - Title (left) + Primary Action/View Switcher (right)
      - if content_for?(:header)
        .row.mb-1
          .col-12
            .d-flex.justify-content-between.align-items-center
              .flex-grow-1
                = yield :header
              - if content_for?(:header_action)
                .ms-3
                  = yield :header_action
      
      / Navigation Area - "Back to X" links (optional)
      - if content_for?(:go_back_link)
        .row.mb-3
          .col-12
            = yield :go_back_link
      
      / Content Area - Main page content
      = yield
    
    / Footer
    %footer.bg-light.border-top.mt-5.py-4
      .container
        .row
          .col-md-6
            %p.mb-0.text-muted
              %small Powered by 
              = link_to "OurGruuv", root_path, class: "text-decoration-none"
          .col-md-6.text-end
            %p.mb-0.text-muted
              %small Public MAAP - Browse Positions, Assignments, Abilities, and Aspirations


